body .alignright, .entry-content-wrapper a:hover .alignright {
  float: right;
  margin: 4px 0 0 10px;
  display: block;
  position: relative;
}

.wp-caption.aligncenter {
  text-align: center;
}


.aligncenter {
  text-align: center;
}

body .alignleft, .entry-content-wrapper a:hover .alignleft {
  float: left;
  margin: 4px 10px 0 0;
  display: block;
  position: relative;
}

.has-text-align-center {
    text-align: center;
}
