@mixin font-face($name, $filename, $style: normal, $weight: 400) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url('./fonts/#{$filename}.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/#{$filename}.woff') format('woff'), /* Modern Browsers */
    url('./fonts/#{$filename}.ttf') format('truetype'); /* Safari, Android, iOS */
    font-display: block;
  }

}

@include font-face(montserrat, montserrat-v15-latin-ext_latin-400);
@include font-face(montserrat, montserrat-v15-latin-ext_latin-600, normal, 600);

@import "font-awesome";
