a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link;
    text-decoration: underline;
  }
}

@for $i from 1 through 6 {
  h#{$i} a {
    &, &:focus, &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

b, strong {
  font-weight: 700;
}

.widget-about {
  a {
    color: $red !important;
  }
}
