.article--listing {
  padding-bottom: 100px;
}

.article__header {
  margin-bottom: 30px;
}

.article__image-wrapper {
  .article--listing {
    margin-top: 6px;
  }

  display: inline-block;
  margin-bottom: 10px;
}

.article__image {
  @include media-breakpoint-up(lg) {
    .article--listing & {
      width: 240px;
    }
  }
  height: auto;
  border-radius: 4px;
  border: 1px solid #eaf0f3;
}

.article__title {
  line-height: 1.3;
}

.post-meta-infos {
  position: relative;
  top: -8px;
  font-size: 14px;

  &, a {
    color: #919191;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: #88bbc8;
  }
}

.text-sep {
  padding: 0 5px;
}

h2,
h3 {

  &.ihumbak-anchor {
    color: #666 !important;
  }

}

.article {
  h3 {
    margin-top: 24px;
  }
}

.article__header-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.yasr-visitor-votes {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article__content {
  color: #666;

  .page__content--boxed-without-sidebar & {
    padding: 30px 180px;

    @include media-breakpoint-down(lg) {
      padding: 30px 120px;
    }

    @include media-breakpoint-down(md) {
      padding: 10px;
    }
  }

  .page__content--listing-recommended & {
    padding: 30px;
  }

  h2,
  h3 {
    line-height: 1.75;
  }

  > * {
    margin-bottom: 25px;
  }

  .page__wrapper:not(.page__content--boxed-without-sidebar) & {
    ul li {
      @apply list-disc;
    }
  }

  ol li {
    @apply list-decimal;
  }
}

.entry-content {

  ul,
  li,
  p {
    line-height: 1.75;
  }

  .article--listing & {
    color: #666;
  }

  iframe {
    max-width: 100%;
  }

  ul {
    li {
      &::marker {
        color: $red;
      }
    }
  }
}

.article__content {
  h2.wp-block-heading,
  h3.wp-block-heading {
  }
}

.page__content--boxed-without-sidebar {
  .article {
    h2:not(.faq__question), h3:not(.faq__question) {
      color: #000 !important;
      font-weight: 700;
    }
  }
}
