.button {
  padding: 9px 22px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #c00;
  color: #fff;
  border-color: #c00;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
    background-color: #fff;
    color: #c00;
    border-color: #c00;
  }
}

.button_wrap {
  padding: 10px 0;

  a {
    border-color: #cc0001;
    background-color: #fff;
    color: #cc0001;
    transition: all .3s ease-in-out;
    padding: 9px 20px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;

    &:hover {
      text-decoration: none;
      border-color: #cc0001;
      background-color: #cc0001;
      color: #fff;
    }
  }
}

.button-outline {
  padding: 9px 22px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: rgba(#c00, 0);
  color: #c00;
  border-color: #c00;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
    background-color: rgba(#c00, 1);
    color: #fff;
    border-color: #c00;
  }
}

.button-small {
  padding: 4px 16px;
  font-size: 16px;
}

.button-small.button-outline {
  font-weight: 300;
  text-transform: none;
}

.button--bold {
  font-weight: 700;
}

.button--blue {
  background-color: rgba(#008080, 1);
  border-color: #008080;

  &:hover {
    background-color: rgba(#008080, 0);
    border-color: #008080;
    color: #008080;
  }
}

.button--rounded {
  border-radius: 8px;
}

.single-newsletter-form {
  button {
    font-weight: 700;
  }
}
