.faq {
    padding-top: 16px;
    border: 1px solid #c00;
}

.faq__title {
    text-align: center;
    color: #666;
}

.faq__list {
    display: grid;
    padding: 16px;

    @include media-breakpoint-up(lg) {
    }
}

.faq__column {
}

.faq__tip {
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

.faq__item {
    margin-bottom: 1rem;
    border-bottom: 1px solid $border-color;
    padding-bottom: 0.25rem;
}

.faq__question {
    margin-bottom: 0;
    font-size: 19px;
    line-height: 1.5;
}

.faq__answer {
    font-size: 17px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.faq__link {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h2 a.faq__link {
    //color: #c00;
}

.faq__link-icon {
    rotate: 0;
    transition: rotate 0.2s ease;
    margin-top: 4px;
    color: #0097b2;

    .faq__item--active & {
        rotate: 180deg;
    }
}


.faq.faq--accordion {
    background-color: transparent;
    padding: 16px 0;
    border: none;

    .faq__item {
        border-left: 3px solid #c00;
        padding-left: 16px;
        transition: border-bottom-color 0.2s ease;

        &.faq__item--active {
            border-bottom-color: #c00;
        }
    }

    .faq__item--active .faq__link-icon {
        rotate: 90deg;
    }
    .faq__link {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .faq__link-icon {
        margin-right: 1rem;
    }

    .faq__question {
        margin-top: 0;
        padding-top: 8px;
        margin-bottom: 0;
    }

    .faq__answer {
        //font-size: 12px;

        &, p {
            //line-height: 1.5;
        }
    }
}
