.footer__main {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #222;
  color: #ddd;
  font-size: 14px;

  a {
    color: inherit;
  }

  ul {
    @apply pl-0 mb-0;
  }
}

.footer__bottom {
  background-color: #333;
  color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 11px;

  a {
    color: inherit;
  }
}

.footer__menu {
  font-size: 14px;
  a {
  }
}
