input {
  border: 1px solid #e1e1e1;
  background-color: #fcfcfc;
  color: #919191;
  outline: 0;

  &.form-control {
    border-radius: 0;
  }

  &:focus {
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 20%);
  }
}

.form-control {
  &[type=text],
  &[type=email] {
    margin-bottom: 20px;
  }
}
