.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.header__logo {
  @include media-breakpoint-down(sm) {
    max-width: 200px;
    width: 100%;
  }
}

.header__search {
  position: relative;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    position: absolute;
    top: 21px;
    right: 70px;
  }
}

.header__search-icon {
  cursor: pointer;
  font-size: 16px;
  color: gray;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.header__search-input {
  position: absolute;
  right: 0;
  width: 250px;
  top: 100%;

  @include media-breakpoint-up(lg) {
    bottom: -20px;
    top: auto;
    display: none;

    .header__search--display & {
      display: block;
    }
  }
}
