.wp-block-image {
  figcaption {
    font-size: 12px;
    line-height: 18px;
  }

  .aligncenter {
    img {
      @apply mx-auto;
    }
  }
}

.wp-caption-text {
  font-size: 12px;
  line-height: 18px;
}

.wp-caption {
  .entry-content & {
    width: auto !important;
    max-width: 100%;
  }
}
