.entry-content ul {
  .page-template-boxed-without-sidebar & {
    list-style: none;

    li {
      position: relative;

      &::before {
        content: '\f00c';
        font-family: FontAwesome;
        color: #0097b2;
        position: absolute;
        right: 100%;
        margin-right: 4px;
      }
    }
  }
}

.entry-content {
  li {
    margin-bottom: 3px;
  }
}

#adminmenu {
  ul {
    list-style: none;
  }
}
