.nav-posts {
  padding-top: 30px;
  border-top: 1px solid $border-color;
}

.nav-posts__link {
  background-color: #fcfcfc;
  border: 1px solid $border-color;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 6px;
  color: $body-color;
  width: 100%;
  height: 100%;

  &:hover {
    color: $body-color;
    background-color: #fff;
    text-decoration: none;
  }
}

.nav-posts__image {
  width: 58px;
  height: 58px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.nav-posts__label {
  font-size: 13px;
}

.nav-posts__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}
