.navigation {
  display: flex;
  align-items: center;
  height: 88px;
}

.navigation__nav {

  font-size: 13px;
  display: flex;

  @include media-breakpoint-up(lg) {
    height: 100%;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
  }

  li {
    display: flex;
  }

  .menu > .menu-item > a {
    color: #808080;
    text-decoration: none;
    padding: 0 13px;
    display: flex;
    align-items: center;
    position: relative;

    @include media-breakpoint-up(lg) {

      font-weight: 600;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          background-color: #c00;
        }
      }
    }
  }

  .menu-item {
    &.current-menu-ancestor,
    &.current-menu-parent {
      a {
        color: #333;
      }
    }
  }


  @include media-breakpoint-up(lg) {
    .sub-menu {
      display: none;
    }
  }


  .menu {
    @include media-breakpoint-up(lg) {

    }
  }

  @include media-breakpoint-down(lg) {
    padding: 128px 0 0;
    position: fixed;
    right: 0;
    transform: translate(350px);
    top: 0;
    bottom: 0;
    max-width: 350px;
    width: 100%;
    background-color: #fff;

    ul {
      flex-wrap: wrap;
    }

    li {
      width: 100%;
    }

    a {
      font-weight: 400;
      font-size: 17px;
      padding: 15px 50px;
    }

    .navigation--pushed & {
      transform: translate(0);
    }
  }
}

.navigation__toggle {
  width: 36px;
  height: 36px;
  border: 0;
  outline: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;

  span {
    width: 100%;
    height: 3px;
    background-color: #808080;
  }
}

.navigation__nav-container,
.menu-primary-menu-container {
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

@include media-breakpoint-up(lg) {

  .navigation__nav {
    .menu {
      > .menu-item {
        position: relative;

        &:hover {
          > .sub-menu {
            display: flex;
            background-color: #fff;
            box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
            border-color: #e1e1e1;
            border-width: 1px;
            border-style: solid;
            border-top-width: 2px;
            border-top-color: $red;

            a {
              padding: 8px 15px;
              font-size: 12px;
              line-height: 23px;
              width: 100%;
              color: #808080;
              text-decoration: none;

              &:hover {
                background-color: #f8f8f8;
                color: #333;
              }
            }
          }
        }
      }
    }

    .sub-menu {
      position: absolute;
      top: 100%;
      margin-top: -1px;
      flex-direction: column;
      width: 220px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .menu-item .menu-item {

    position: relative;

    .sub-menu {
      position: absolute;
      right: 100%;
      top: 0;
      background-color: #fff;
      border: 1px solid $border-color;
      border-right: 0;
    }

    &:hover {
      > .sub-menu {
        display: flex;
      }
    }
  }

}

@include media-breakpoint-down(lg) {
  .navigation__nav {

    li {
      flex-wrap: wrap;

      > * {
        width: 100%;
      }

      a {
      }
    }

    .sub-menu,
    .menu {
      > .menu-item {
        > a {
          font-size: 17px;
          line-height: 1.3;
          padding: 15px 50px;
          color: #333;
          position: relative;
          text-decoration: none;
          border-bottom: 1px solid $border-color;

          &:hover {
            text-decoration: none;
            background-color: #f8f8f8;
          }
        }
      }
    }

    .sub-menu {
      > .menu-item {
        > a {
          padding-left: 70px;

          &::before {
            content: '';
            height: 1px;
            display: block;
            position: absolute;
            margin-top: 0;
            opacity: .3;
            border: none !important;
            width: 7px;
            left: 50px;
            top: 50%;
            background-color: #333;
          }
        }

        .menu-item {
          > a {
            padding-left: 90px;

            &::before {
              left: 70px;
            }
          }
        }

      }
    }
  }

  .navigation__nav-container {
    overflow: auto;
    padding-bottom: 128px;
  }
}
