.pagination {
  align-items: center;
  flex-wrap: wrap;
}

.pagination__count {
  color: #919191;
  font-size: 11px;
}

.pagination__nav {

  span.current,
  a {
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    padding: 0;
    border-radius: 100px;
    margin-right: 3px;
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 20%);
    font-size: 11px;
    color: #919191;
  }

  span.current {
    background-color: #fcfcfc;
    color: #222;
    display: inline-block;
    font-weight: 700;
  }
}
