.product-card {
  border: 1px solid #EAF0F3;
  background-color: #fff;
  transition-duration: 0.3s;
  transition-property: background-color, box-shadow;
  box-shadow: 0 0 0 0 #EAF0F3;
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover {
    background-color: #EAF0F3;
    box-shadow: 0 0 2px 1px #EAF0F3;
  }

  & > * {
    width: 100%;
  }

}

.product-card__image {
  position: relative;
  overflow: hidden;
  display: block;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: '';
    display: block;
    padding-top: (9 / 16) * 100%;
  }
}

.product-card__body {
  padding: 30px 20px 20px;
  position: relative;
}

.product-card__title {
  font-family: montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  min-height: 44px;

  a {
    color: #5D5E79;
  }
}

.product-card__category {
  font-size: 13px;
  line-height: 18px;
  margin-top: 20px;

  a {
    color: #77B7BF;
  }
}

.product-card__description {
  margin-top: 20px;
  font-size: 13px;
  line-height: 18px;
}

.product-card__footer {
  padding: 0 20px 20px;
  margin-top: auto;

  .button {
    font-weight: 600;
    text-align: center;
  }
}

.product-card__label {
  position: absolute;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  top: -20px;
  left: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  display: flex;
  align-items: center;
}
