.scroll-to-top {
  position: fixed;
  bottom: 24px;
  left: 24px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  transition: opacity 0.3s ease, z-index 0s ease 0.3s;
  cursor: pointer;
  padding-bottom: 3px;
  font-size: 22px;
  z-index: -1;
  opacity: 0;

  &.scroll-to-top--active {
    z-index: 10;
    transition: opacity 0.3s ease, z-index 0s ease 0s;
    opacity: 0.3;
  }

  &:hover {
    opacity: 0.7
  }

  @include media-breakpoint-up(lg) {
    right: 40px;
    bottom: 40px;
    left: auto;
  }
}
