body {
  font-size: 19px;
}

.container-fluid-stop {
  max-width: 1310px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.page__wrapper {
  padding-top: 88px;
}

.page__content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.page__content--with-background {

  @include media-breakpoint-up(md) {
    background-color: #F8F8F8;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main {

  .page__content--with-background & {
    background-color: #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {
      box-shadow: 0 0 4px 0 rgba(#000, .25);
    }
  }

  .page__content--boxed-without-sidebar & {
    max-width: 945px;

  }

  .page__content--listing-recommended {
    max-width: 1280px;
  }
}

.sidebar {

}

img {
  max-width: 100%;
  height: auto;
}
