.faq__answer {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease;
}

.faq__answer > div {
    overflow: hidden;
}


.faq__item.faq__item--active .faq__answer {
    grid-template-rows: 1fr;
}

.faq__link .faq__link-icon {
    transition: all 0.2s ease;
}

.faq__link:hover .faq__link-icon,
.faq__item.faq__item--active .faq__link-icon {
    color: #c00;
}

.faq.faq--accordion {
    .faq__item--active .faq__link-icon {
        rotate: 90deg;
    }
}
