/**
 * @package 	WordPress
 * @subpackage 	Top Magazine
 * @version		1.1.0
 * 
 * Responsive Design CSS Rules
 * Created by CMSMasters
 * 
 */
@media only screen {
  /*-------------------------------------------------------------------------*/
  /* Large Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Medium Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /*	Tablet Monitor 950
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor 600
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Phone Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Phone Monitor
/*-------------------------------------------------------------------------*/
}
@media only screen and (min-width: 1440px) {
  .cmsmasters_responsive_width {
    width: 1440px;
  }
  #page.cmsmasters_boxed {
    width: 1240px;
  }
  #page.cmsmasters_boxed #header,
  #page.cmsmasters_boxed #footer {
    width: 1240px;
  }
  .headline_inner,
  .post-password-form,
  .content_wrap,
  .bottom_outer,
  .footer_inner,
  .cmsmasters_row_inner,
  .cmsmasters_row_title_wrap,
  .error_inner {
    width: 1200px;
  }
  .cmsmasters_post_default.has-post-thumbnail .cmsmasters_post_img_wrap + .cmsmasters_post_cont {
    padding: 32px 0 0 40px;
  }
}
@media only screen and (max-width: 1440px) {
  .widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item {
    display: block;
    float: none;
    width: 100%;
    margin: 0 0 5px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .header_mid .logo_wrap {
    max-width: 380px;
  }
}
@media only screen and (min-width: 1025px) {
  .cmsmasters_responsive_width {
    width: 1025px;
  }
  .header_mid .header_mid_inner .slogan_wrap img {
    max-height: 100%;
  }
  #page.enable_header_centered .header_bot .header_bot_inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .header_top_inner,
  .header_mid_inner,
  .header_bot_inner {
    width: 100%;
    padding: 0 4%;
  }
  .fixed_header #header {
    position: fixed;
  }
  .header_top_outer,
  .header_top .top_nav_wrap nav {
    display: block !important;
  }
  .mid_nav ul a,
  .bot_nav ul a {
    padding: 6px 15px;
  }
  .mid_nav ul a > span,
  .bot_nav ul a > span {
    position: relative;
    display: inline-block;
  }
  .mid_nav ul a > span:before,
  .bot_nav ul a > span:before {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .mid_nav ul a:hover > span:before,
  .bot_nav ul a:hover > span:before {
    width: 100%;
  }
  .header_mid .slogan_wrap .slogan_wrap_text {
    height: 100%;
    text-align: right;
  }
}
@media only screen and (max-width: 1024px) {
  .cmsmasters_responsive_width {
    width: 1024px;
  }
  .gallery.gallery-columns-9 .gallery-item,
  .gallery.gallery-columns-6 .gallery-item {
    width: 31.33%;
  }
  .gallery.gallery-columns-9 .gallery-item:nth-child(6n + 1),
  .gallery.gallery-columns-6 .gallery-item:nth-child(6n + 1),
  .gallery.gallery-columns-9 .gallery-item:nth-child(9n + 1),
  .gallery.gallery-columns-6 .gallery-item:nth-child(9n + 1) {
    clear: none;
  }
  .gallery.gallery-columns-9 .gallery-item:nth-child(3n + 1),
  .gallery.gallery-columns-6 .gallery-item:nth-child(3n + 1) {
    clear: both;
  }
  .gallery.gallery-columns-8 .gallery-item {
    width: 23%;
  }
  .gallery.gallery-columns-8 .gallery-item:nth-child(8n + 1) {
    clear: none;
  }
  .gallery.gallery-columns-8 .gallery-item:nth-child(4n + 1) {
    clear: both;
  }
  .gallery.gallery-columns-7 .gallery-item,
  .gallery.gallery-columns-5 .gallery-item,
  .gallery.gallery-columns-4 .gallery-item {
    width: 48%;
  }
  .gallery.gallery-columns-7 .gallery-item:nth-child(4n + 1),
  .gallery.gallery-columns-5 .gallery-item:nth-child(4n + 1),
  .gallery.gallery-columns-4 .gallery-item:nth-child(4n + 1),
  .gallery.gallery-columns-7 .gallery-item:nth-child(5n + 1),
  .gallery.gallery-columns-5 .gallery-item:nth-child(5n + 1),
  .gallery.gallery-columns-4 .gallery-item:nth-child(5n + 1),
  .gallery.gallery-columns-7 .gallery-item:nth-child(7n + 1),
  .gallery.gallery-columns-5 .gallery-item:nth-child(7n + 1),
  .gallery.gallery-columns-4 .gallery-item:nth-child(7n + 1) {
    clear: none;
  }
  .gallery.gallery-columns-7 .gallery-item:nth-child(2n + 1),
  .gallery.gallery-columns-5 .gallery-item:nth-child(2n + 1),
  .gallery.gallery-columns-4 .gallery-item:nth-child(2n + 1) {
    clear: both;
  }
  .cmsmasters_profile.horizontal .cmsmasters_profile_horizontal.one_fourth:nth-child(2n+1) {
    clear: left;
  }
  #page.cmsmasters_boxed {
    width: 100%;
  }
  #page.cmsmasters_boxed #header,
  #page.cmsmasters_boxed #footer {
    width: 100%;
  }
  #page.fixed_header #header {
    position: relative;
  }
  #page.fixed_header #middle,
  #page.fixed_header.enable_header_top #middle,
  #page.fixed_header.enable_header_bottom #middle,
  #page.fixed_header.enable_header_top.enable_header_bottom #middle {
    padding-top: 0;
  }
  #header {
    position: relative;
    overflow: hidden;
  }
  #header nav {
    height: auto;
  }
  #header nav div,
  #header nav ul,
  #header nav li,
  #header nav a,
  #header nav span {
    background-image: none !important;
    display: block;
    width: auto;
    height: auto;
    float: none;
    margin: 0;
    padding: 0;
    visibility: visible;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    text-align: left;
    border-width: 0;
    border-style: solid;
    clear: both;
    overflow: hidden;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #header nav div:before,
  #header nav ul:before,
  #header nav li:before,
  #header nav a:before,
  #header nav div:after,
  #header nav ul:after,
  #header nav li:after,
  #header nav a:after {
    content: none;
  }
  #header nav .menu-item-mega-description-container {
    padding: 10px 15px;
  }
  #header nav li {
    border-top-width: 1px;
    border-top-style: solid;
  }
  .header_mid .logo_wrap {
    max-width: 380px;
  }
  .header_mid .slogan_wrap .slogan_wrap_inner,
  .header_mid .social_wrap .social_wrap_inner {
    padding: 0;
  }
  .header_mid .slogan_wrap .slogan_wrap_text {
    height: 100%;
  }
  .header_mid .slogan_wrap .slogan_wrap_text img {
    height: 100%;
  }
  .enable_header_centered .header_mid .header_mid_inner > div {
    float: none;
  }
  .post-password-form,
  .header_top_inner,
  .header_mid_inner,
  .header_bot_inner,
  .content_wrap,
  .headline_inner,
  .bottom_outer,
  .footer_inner,
  .cmsmasters_row_inner,
  .cmsmasters_row_title_wrap {
    width: 100%;
  }
  .cmsmasters_column {
    margin-bottom: 20px;
  }
  .cmsmasters_row_columns_behavior .cmsmasters_column {
    margin-bottom: 0;
  }
  .cmsmasters_column.one_first,
  .cmsmasters_column:last-child {
    margin-bottom: 0;
  }
  .one_fifth,
  .one_fourth,
  .three_fourth {
    width: 48%;
  }
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fifth,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fourth,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .three_fourth {
    width: 50%;
  }
  .cmsmasters_14141414 > .cmsmasters_column:nth-child(2n + 1) {
    clear: left;
  }
  .cmsmasters_121414 .cmsmasters_column.one_half,
  .cmsmasters_141412 .cmsmasters_column.one_half {
    width: 98%;
    float: none;
    clear: both;
  }
  .cmsmasters_row_no_margin > .cmsmasters_121414 > .cmsmasters_column.one_half,
  .cmsmasters_row_no_margin > .cmsmasters_141412 > .cmsmasters_column.one_half {
    width: 100%;
  }
  .cmsmasters_141214 .cmsmasters_column.one_fourth,
  .cmsmasters_141214 .cmsmasters_column.one_half {
    width: 31.33%;
  }
  .cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_fourth,
  .cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_half {
    width: 33.33%;
  }
  .sidebar_layout_14141414 aside {
    width: 48%;
  }
  .sidebar_layout_14141414 aside:nth-child(2n+1) {
    clear: left;
  }
  .sidebar_layout_141412 > aside:first-child,
  .sidebar_layout_141412 > aside:first-child + aside,
  .sidebar_layout_141412 > div.cl + aside,
  .sidebar_layout_141412 > div.cl + aside + aside,
  .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside,
  .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside + aside {
    width: 48%;
  }
  .sidebar_layout_141412 > aside:first-child + aside + aside,
  .sidebar_layout_141412 > div.cl + aside + aside + aside,
  .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside + aside + aside {
    width: 98%;
    float: none;
    clear: both;
  }
  .sidebar_layout_141214 > aside:first-child,
  .sidebar_layout_141214 > aside:first-child + aside + aside,
  .sidebar_layout_141214 > div.cl + aside,
  .sidebar_layout_141214 > div.cl + aside + aside + aside,
  .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside,
  .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside + aside + aside {
    width: 31.33%;
  }
  .sidebar_layout_141214 > aside:first-child + aside,
  .sidebar_layout_141214 > div.cl + aside + aside,
  .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside + aside {
    width: 31.33%;
  }
  .sidebar_layout_121414 > aside:first-child,
  .sidebar_layout_121414 > div.cl + aside,
  .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside {
    width: 98%;
    float: none;
    clear: both;
  }
  .sidebar_layout_121414 > aside:first-child + aside,
  .sidebar_layout_121414 > aside:first-child + aside + aside,
  .sidebar_layout_121414 > div.cl + aside + aside,
  .sidebar_layout_121414 > div.cl + aside + aside + aside,
  .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside + aside,
  .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside + aside + aside {
    width: 48%;
  }
  .sidebar_layout_3414 > aside:first-child,
  .sidebar_layout_3414 > div.cl + aside,
  .sidebar_layout_3414 > div.cmsmasters_widget_divider + aside {
    width: 48%;
  }
  .sidebar_layout_3414 > aside:first-child + aside,
  .sidebar_layout_3414 > div.cl + aside + aside,
  .sidebar_layout_3414 > div.cmsmasters_widget_divider + aside + aside {
    width: 48%;
  }
  .sidebar_layout_1434 > aside:first-child,
  .sidebar_layout_1434 > div.cl + aside,
  .sidebar_layout_1434 > div.cmsmasters_widget_divider + aside {
    width: 48%;
  }
  .sidebar_layout_1434 > aside:first-child + aside,
  .sidebar_layout_1434 > div.cl + aside + aside,
  .sidebar_layout_1434 > div.cmsmasters_widget_divider + aside + aside {
    width: 48%;
  }
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fifth,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fifth,
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fourth,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fourth {
    width: 50%;
  }
  .cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item {
    width: 50%;
  }
  .cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item:nth-child(2n+1) {
    clear: both;
  }
  .header_top {
    overflow: hidden;
    clear: both;
  }
  .header_top .header_top_but {
    display: block;
  }
  .header_top .header_top_outer {
    height: auto;
    display: none;
    overflow: hidden;
  }
  .header_top .header_top_inner {
    height: auto;
    padding: 0;
    overflow: hidden;
  }
  .header_top .header_top_right {
    float: none;
    padding: 15px 0;
  }
  .header_top .header_top_right + .header_top_left {
    padding: 15px 0 35px;
  }
  .header_top .social_wrap .social_wrap_inner {
    padding: 28px 0;
  }
  .header_top .social_wrap li {
    margin-right: 18px;
    margin-left: 0;
  }
  .header_top .social_wrap li:last-child {
    margin: 0;
  }
  .header_top .social_wrap li a {
    font-size: 18px;
    line-height: 18px;
    width: 18px;
    height: 18px;
  }
  .header_top .social_wrap .social_wrap_inner {
    text-align: center;
  }
  .header_top .top_nav_wrap nav {
    display: none;
  }
  .header_top .responsive_top_nav {
    display: block;
    margin: 0 auto 10px;
  }
  .header_top .header_top_left {
    padding: 35px 0;
  }
  .header_top .header_top_left:after {
    content: none;
  }
  .header_top .meta_wrap {
    display: block;
    text-align: center;
  }
  #header .top_line_nav {
    padding: 0;
  }
  #header .top_line_nav .nav_item_wrap {
    padding: 9px 0;
    text-align: center;
  }
  #header .top_line_nav li li .nav_item_wrap {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  #header .header_mid {
    overflow: hidden;
    clear: both;
  }
  #header .header_mid .header_mid_outer {
    overflow: hidden;
  }
  #header .header_mid .header_mid_inner {
    padding: 0 20px 10px;
  }
  #header .header_mid .resp_mid_nav_wrap {
    display: block;
  }
  #header .header_mid .resp_mid_nav_wrap .resp_mid_nav {
    font-size: 18px;
    line-height: 18px;
    width: 42px;
    height: 42px;
  }
  #header .header_mid .resp_mid_nav_wrap .resp_mid_nav.active {
    font-size: 16px;
    line-height: 16px;
  }
  #header .header_mid .mid_nav_wrap {
    display: block;
    height: auto;
    float: none;
    margin: 0 -20px;
    visibility: visible;
    overflow: hidden;
    clear: both;
    opacity: 1;
  }
  #header .header_mid .mid_nav_wrap nav {
    display: none;
  }
  #header .header_mid .social_wrap li a {
    font-size: 16px;
    line-height: 16px;
  }
  .enable_header_centered #header .header_mid .social_wrap_inner {
    text-align: center;
  }
  #header .header_bot {
    overflow: hidden;
    clear: both;
  }
  #header .header_bot .header_bot_outer {
    overflow: hidden;
  }
  #header .header_bot .header_bot_inner {
    padding: 0;
    text-align: center;
  }
  #header .header_bot .header_bot_inner > div {
    float: none;
  }
  #header .header_bot .resp_bot_nav_wrap {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    margin: 0;
  }
  #header .header_bot .resp_bot_nav_wrap .resp_bot_nav_outer {
    text-align: center;
  }
  #header .header_bot .resp_bot_nav_wrap .resp_bot_nav {
    font-size: 18px;
    line-height: 18px;
    width: 42px;
    height: 42px;
  }
  #header .header_bot .resp_bot_nav_wrap .resp_bot_nav.active {
    font-size: 16px;
    line-height: 16px;
  }
  #header .header_bot .bot_nav_wrap {
    display: block;
    height: auto;
    float: none;
    margin: 0;
    visibility: visible;
    overflow: hidden;
    clear: both;
    opacity: 1;
  }
  #header .header_bot .bot_nav_wrap nav {
    display: none;
  }
  #header .header_bot .bot_search_but_wrap {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    margin: 0;
    text-align: center;
  }
  #header .header_bot .bot_search_but_wrap .cmsmasters_header_search_but {
    font-size: 20px;
    line-height: 20px;
  }
  #header .navigation {
    padding: 20px 0 30px;
  }
  #header .navigation a {
    padding: 12px 20px 12px 30px;
  }
  #header .navigation li li > a {
    padding-left: 50px;
    padding-right: 20px;
  }
  #header .navigation li li li > a {
    padding-left: 70px;
    padding-right: 20px;
  }
  #header .navigation .nav_item_wrap {
    display: inline-block;
    vertical-align: middle;
  }
  #header .navigation .nav_title {
    display: inline-block;
    vertical-align: bottom;
  }
  #header .navigation .nav_tag {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    margin: 0 0 0 10px;
  }
  #header .navigation .nav_subtitle {
    display: block;
  }
  #header .navigation .cmsmasters_resp_nav_toggle {
    font-size: 20px;
    line-height: 1em;
    display: block;
    width: 1em;
    height: 1em;
    margin: 0 0 0 15px;
    cursor: pointer;
    float: right;
  }
  #header .navigation .menu-item-mega-container {
    width: 100% !important;
    left: auto !important;
    right: auto !important;
  }
  .cmsmasters_post_default.has-post-thumbnail .cmsmasters_post_img_wrap + .cmsmasters_post_cont {
    padding-top: 0;
  }
  .cmsmasters_post_default.has-post-thumbnail .cmsmasters_post_img_wrap + .cmsmasters_post_cont .cmsmasters_post_info {
    margin-top: -5px;
  }
  .error .error_inner {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 950px) {
  .cmsmasters_responsive_width {
    width: 950px;
  }
  .content_wrap.l_sidebar .cmsmasters_row,
  .content_wrap.r_sidebar .cmsmasters_row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .content,
  .sidebar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .cmsmasters_open_project .project_content.with_sidebar {
    width: 100%;
    float: none;
  }
  .cmsmasters_open_project .project_sidebar {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
  .cmsmasters_open_profile .profile_content.with_sidebar {
    width: 100%;
    float: none;
  }
  .cmsmasters_open_profile .profile_sidebar {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
  .cmsmasters_profile_vertical .profile_image_wrap {
    width: 35%;
  }
  .cmsmasters_profile_vertical .profile_image_wrap + .profile_inner {
    width: 65%;
  }
  .cmsmasters_quotes_grid.quote_four .cmsmasters_quote {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .cmsmasters_responsive_width {
    width: 767px;
  }
  .gallery.gallery-columns-8 .gallery-item {
    width: 48%;
  }
  .gallery.gallery-columns-8 .gallery-item:nth-child(4n + 1) {
    clear: none;
  }
  .gallery.gallery-columns-8 .gallery-item:nth-child(2n + 1) {
    clear: both;
  }
  .one_first,
  .one_half,
  .one_third,
  .two_third,
  .one_fourth,
  .one_fifth,
  .three_fourth,
  .cmsmasters_121414 .cmsmasters_column.one_half,
  .cmsmasters_141412 .cmsmasters_column.one_half,
  .cmsmasters_141214 .cmsmasters_column.one_fourth,
  .cmsmasters_141214 .cmsmasters_column.one_half {
    width: 98%;
    float: none;
    clear: both;
  }
  .cmsmasters_row_columns_behavior .one_first,
  .cmsmasters_row_columns_behavior .one_half,
  .cmsmasters_row_columns_behavior .one_third,
  .cmsmasters_row_columns_behavior .two_third,
  .cmsmasters_row_columns_behavior .one_fourth,
  .cmsmasters_row_columns_behavior .one_fifth,
  .cmsmasters_row_columns_behavior .three_fourth,
  .cmsmasters_row_columns_behavior .cmsmasters_121414 .cmsmasters_column.one_half,
  .cmsmasters_row_columns_behavior .cmsmasters_141412 .cmsmasters_column.one_half,
  .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_fourth,
  .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_half {
    display: block;
  }
  .cmsmasters_row_columns_behavior .one_first .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .one_half .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .one_third .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .two_third .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .one_fourth .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .one_fifth .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .three_fourth .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .cmsmasters_121414 .cmsmasters_column.one_half .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .cmsmasters_141412 .cmsmasters_column.one_half .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_fourth .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_half .cmsmasters_column_inner {
    display: block;
  }
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_first,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_half,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_third,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .two_third,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fourth,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fifth,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .three_fourth {
    width: 100%;
  }
  .cmsmasters_row_no_margin > .cmsmasters_121414 > .cmsmasters_column.one_half,
  .cmsmasters_row_no_margin > .cmsmasters_141412 > .cmsmasters_column.one_half,
  .cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_fourth,
  .cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_half {
    width: 100%;
  }
  .cmsmasters_row_margin.cmsmasters_row_columns_behavior {
    display: block;
  }
  .cmsmasters_row_margin.cmsmasters_row_columns_behavior .cmsmasters_featured_block .featured_block_text:empty {
    padding-bottom: 100%;
  }
  .cmsmasters_row_no_margin > .cmsmasters_row_margin {
    display: block;
  }
  .sidebar_layout_14141414 aside,
  .sidebar_layout_141412 aside,
  .sidebar_layout_141214 aside,
  .sidebar_layout_121414 aside,
  .sidebar_layout_131313 aside,
  .sidebar_layout_3414 aside,
  .sidebar_layout_1434 aside,
  .sidebar_layout_2313 aside,
  .sidebar_layout_1323 aside,
  .sidebar_layout_1212 aside {
    width: 98% !important;
  }
  .cmsmasters_featured_block .featured_block_inner {
    width: 100% !important;
  }
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_third,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_third {
    width: 50%;
  }
  .cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item {
    width: 100%;
    float: none;
    clear: both;
  }
  .cmsmasters_clients_grid.clients_five .cmsmasters_clients_item,
  .cmsmasters_clients_grid.clients_four .cmsmasters_clients_item,
  .cmsmasters_clients_grid.clients_three .cmsmasters_clients_item,
  .cmsmasters_clients_grid.clients_two .cmsmasters_clients_item {
    width: 100%;
    float: none;
    clear: both;
  }
  #header .header_mid .header_mid_inner {
    padding-top: 20px;
    text-align: center;
  }
  #header .header_mid .logo_wrap {
    float: none;
    margin: 0 auto 20px;
    width: 270px;
    max-width: 100%;
    text-align: center;
  }
  #header .header_mid .logo_wrap:after {
    content: none;
  }
  #header .header_mid .logo_wrap .logo img {
    position: static;
    max-width: 100%;
  }
  #header .header_mid .resp_mid_nav_wrap {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 0 10px;
    margin: 0;
  }
  #header .header_mid .resp_mid_nav_wrap .resp_mid_nav_outer {
    text-align: center;
  }
  #header .header_mid .resp_mid_nav_wrap .resp_mid_nav_outer:after {
    content: none;
  }
  #header .header_mid .mid_search_but_wrap {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0 10px;
    float: none;
    text-align: center;
  }
  #header .header_mid .cmsmasters_header_search_but {
    font-size: 20px;
    line-height: 20px;
  }
  #header .header_mid .social_wrap {
    margin: 0 0 10px;
  }
  .enable_header_centered #header .header_mid .social_wrap {
    margin-top: 0;
  }
  #header .header_mid .social_wrap .social_wrap_inner {
    text-align: center;
  }
  #header .header_mid .slogan_wrap {
    display: none;
  }
  #header .header_mid .mid_nav_wrap {
    height: auto;
    float: none;
    margin: 0 -20px;
    visibility: visible;
    overflow: hidden;
    clear: both;
    opacity: 1;
  }
  #header .header_mid .mid_nav_wrap nav {
    display: none;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field {
    height: 70px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field button {
    font-size: 26px;
    line-height: 26px;
    width: 85px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field button:before {
    left: auto;
    right: 0;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
    padding-right: 80px;
    font-size: 30px;
    line-height: 40px;
  }
  .cmsmasters_footer_default .footer_nav {
    display: block;
    text-align: center;
  }
  .cmsmasters_footer_default .footer_nav > li {
    display: inline-block;
    float: none;
  }
  .cmsmasters_footer_small .footer_nav_wrap {
    padding: 0 0 10px;
    float: none;
  }
  .cmsmasters_footer_small .footer_nav_wrap nav > div {
    text-align: center;
  }
  .cmsmasters_footer_small .footer_nav_wrap nav > div:after {
    content: none;
  }
  .cmsmasters_footer_small .footer_nav {
    display: block;
    text-align: center;
  }
  .cmsmasters_footer_small .footer_nav > li {
    display: inline-block;
    float: none;
  }
  .cmsmasters_footer_small .social_wrap {
    padding: 0 0 10px;
    float: none;
  }
  .cmsmasters_footer_small .social_wrap .social_wrap_inner {
    text-align: center;
  }
  .cmsmasters_footer_small .social_wrap .social_wrap_inner:after {
    content: none;
  }
  .cmsmasters_footer_small .footer_custom_html_wrap {
    padding: 0 0 10px;
    float: none;
  }
  .cmsmasters_footer_small .footer_custom_html_wrap .footer_custom_html {
    text-align: center;
  }
  .cmsmasters_footer_small .footer_copyright {
    padding: 0;
    text-align: center;
  }
  .blog.timeline {
    height: auto !important;
  }
  .blog.timeline:before {
    content: none;
  }
  .blog.timeline .post {
    width: 100%;
    padding-top: 40px;
    position: relative !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    bottom: auto !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
  .blog.timeline .post:first-child {
    padding-top: 0;
  }
  .blog.timeline .post:before {
    content: none;
  }
  .blog.timeline .post.cmsmasters_timeline_left .cmsmasters_timeline_margin,
  .blog.timeline .post.cmsmasters_timeline_right .cmsmasters_timeline_margin {
    margin-left: 0;
    margin-right: 0;
  }
  .blog.timeline .post .cmsmasters_post_info {
    position: relative;
    left: auto;
    right: auto;
    margin-bottom: 20px;
  }
  .blog.timeline .post .cmsmasters_post_info .cmsmasters_post_date {
    margin: 0 auto;
  }
  .blog.timeline .post .cmsmasters_post_category {
    text-align: center;
  }
  .blog.timeline .post .cmsmasters_post_category > a {
    float: none;
    display: inline-block;
    margin: 0 1px -6px 0;
  }
  .blog.timeline .post .cmsmasters_post_cont,
  .blog.timeline .post .cmsmasters_post_content {
    text-align: center;
  }
  .cmsmasters_twitter_wrap .twr_icon {
    position: relative;
    margin: 0 0 20px;
  }
  .cmsmasters_twitter_wrap .cmsmasters_twitter_item {
    padding: 20px 20px 0;
    text-align: center;
  }
  .cmsmasters_twitter_wrap .cmsmasters_twitter_item .published {
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
  }
  .cmsmasters_twitter_wrap .owl-buttons {
    position: relative;
    margin: 40px auto 0 !important;
  }
  .cmsmasters_quotes_grid.quote_three .cmsmasters_quote {
    width: 100%;
  }
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li,
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li,
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .cmsmasters_responsive_width {
    width: 600px;
  }
  html.cmsmasters_html {
    margin-top: 0 !important;
  }
  html.cmsmasters_html body.admin-bar {
    padding-top: 46px;
  }
  html.cmsmasters_html .cmsmasters_header_search_form {
    top: 0;
    bottom: 0;
  }
  html.cmsmasters_html .cmsmasters_header_search_form .cmsmasters_header_search_form_close {
    right: 20px;
    left: auto;
    top: 70px;
  }
  .cmsmasters_post_default.has-post-thumbnail .cmsmasters_post_img_wrap {
    width: 100%;
    float: none;
  }
  .cmsmasters_post_default.has-post-thumbnail .cmsmasters_post_img_wrap + .cmsmasters_post_cont {
    padding: 32px 0 0;
  }
  .cmsmasters_post_default.has-post-thumbnail .cmsmasters_post_img_wrap + .cmsmasters_post_cont .cmsmasters_post_info {
    margin-top: 0;
  }
  .cmsmasters_profile_vertical .profile_image_wrap {
    display: block;
    width: 50%;
    margin: 0 auto 20px;
    padding: 0;
  }
  .cmsmasters_profile_vertical .profile_image_wrap .cmsmasters_profile_subtitle {
    right: 0;
    left: auto;
  }
  .cmsmasters_profile_vertical .profile_social_icons {
    float: none;
    display: block;
    padding: 0;
    margin: 0 0 20px;
  }
  .cmsmasters_profile_vertical .profile_social_icons_list,
  .cmsmasters_profile_vertical .profile_inner,
  .cmsmasters_profile_vertical .cmsmasters_profile_content {
    text-align: center;
  }
  .cmsmasters_profile_vertical .profile_image_wrap + .profile_inner {
    width: 100%;
  }
  .cmsmasters_quotes_grid.quote_two .cmsmasters_quote {
    width: 100%;
  }
  .commentlist .children {
    padding: 0 0 0 15px;
  }
}
@media only screen and (max-width: 540px) {
  .cmsmasters_responsive_width {
    width: 540px;
  }
  .header_mid .slogan_wrap {
    display: none;
  }
  #page .gallery .gallery-item {
    width: 98%;
    float: none;
    clear: both;
  }
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fifth,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fifth,
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fourth,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fourth,
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_third,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_third,
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_half,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_half {
    width: 100%;
  }
  .cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item,
  .cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item,
  .cmsmasters_pricing_table.pricing_two .cmsmasters_pricing_item,
  .cmsmasters_pricing_table.pricing_one .cmsmasters_pricing_item {
    width: 100%;
    float: none;
  }
  #page .headline_outer .headline_inner {
    padding: 20px;
  }
  #page .headline_outer .headline_inner .headline_aligner {
    display: none;
  }
  #page .headline_outer .headline_inner .headline_content {
    width: 100%;
  }
  #page .headline_outer .headline_inner .headline_text {
    display: block;
    text-align: center;
  }
  #page .headline_outer .headline_inner .headline_icon:before {
    font-size: 40px;
  }
  #page .headline_outer .headline_inner.align_center .headline_icon {
    padding-top: 60px;
  }
  .cmsmasters_footer_default .social_wrap li {
    margin-right: 15px;
    margin-left: 0;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field {
    height: 50px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field button {
    font-size: 22px;
    line-height: 22px;
    width: 80px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
    padding-right: 75px;
    font-size: 20px;
    line-height: 30px;
  }
  #page .cmsmasters_breadcrumbs {
    float: none;
    text-align: center;
  }
  #page .cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_aligner {
    display: none;
  }
  #page .cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_inner {
    padding-bottom: 0;
  }
  .cmsmasters_items_filter_wrap .cmsmasters_items_sort_block {
    float: none;
    margin: 0 0 30px;
  }
  .cmsmasters_archive_type .cmsmasters_archive_item_img_wrap {
    width: 100%;
    margin: 0 0 20px;
    float: none;
  }
  .cmsmasters_archive_type .cmsmasters_archive_item_cont_wrap {
    padding: 0;
  }
  .cmsmasters_open_post .cmsmasters_post_cont_info_top .cmsmasters_post_category {
    width: 100%;
    display: block;
    margin: 0 0 10px;
  }
  .cmsmasters_open_post .cmsmasters_post_cont_info_top .cmsmasters_post_cont_info_meta {
    float: left;
    margin: 30px 0 0px;
  }
  .cmsmasters_open_post .cmsmasters_post_cont_info_top .cmsmasters_post_category + .cmsmasters_post_cont_info_meta {
    margin: 0;
  }
  .cmsmasters_open_post .cmsmasters_post_cont_about_author,
  .cmsmasters_open_post .share_posts {
    float: none;
    width: 100%;
  }
  .about_author .about_author_avatar {
    float: none;
    margin: 0 0 20px;
    text-align: center;
  }
  .about_author .about_author_cont {
    text-align: center;
  }
  #page .post_nav > div {
    width: 100%;
    padding: 0;
    margin: 0 0 20px;
  }
  #page .post_nav > div:last-child {
    margin: 0;
  }
  .error .error_inner .error_title {
    font-size: 120px;
  }
  #page .cmsmasters_heading_wrap.cmsmasters_heading_align_left {
    clear: both;
  }
  #page .cmsmasters_heading_wrap.cmsmasters_heading_align_left .cmsmasters_heading {
    width: 100%;
    margin: 0;
  }
  #page .cmsmasters_heading_wrap.cmsmasters_heading_align_left .cmsmasters_heading + .cmsmasters_button {
    float: left;
  }
  #page .cmsmasters_heading_wrap.cmsmasters_heading_align_right {
    clear: both;
  }
  #page .cmsmasters_heading_wrap.cmsmasters_heading_align_right .cmsmasters_heading {
    width: 100%;
    margin: 0;
  }
  #page .cmsmasters_heading_wrap.cmsmasters_heading_align_right .cmsmasters_heading + .cmsmasters_button {
    float: right;
  }
  #page .cmsmasters_heading_wrap.cmsmasters_heading_align_center .cmsmasters_heading {
    width: 100%;
    margin: 0;
  }
  .cmsmasters_tabs.tabs_mode_tour {
    display: table;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list,
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_wrap {
    display: block;
    width: 100%;
    margin: 0;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tab_inner {
    padding: 0;
  }
  .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item {
    display: block;
    width: 100%;
    margin: 0 0 10px;
  }
  #page .cmsmasters_tabs .cmsmasters_tabs_list {
    margin: 0 0 20px;
  }
}
@media only screen and (max-width: 400px) {
  .cmsmasters_items_filter_wrap .cmsmasters_items_filter_list {
    padding: 0;
  }
  .cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li {
    width: 100%;
    float: none;
    margin: 0 0 5px;
  }
  .cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li a {
    padding: 0 11px;
  }
}
@media only screen and (max-width: 320px) {
  .cmsmasters_responsive_width {
    width: 320px;
  }
  .post-password-form,
  .header_top_inner,
  .header_mid_inner,
  .header_bot_inner,
  .content_wrap,
  .headline_inner,
  .bottom_outer,
  .footer_inner,
  .cmsmasters_row_inner,
  .cmsmasters_row_title_wrap,
  .error_inner {
    width: 320px;
  }
}
