/**
 * @package 	WordPress
 * @subpackage 	Top Magazine
 * @version 	1.0.4
 * 
 * Theme RTL Rules
 * Created by CMSMasters
 * 
 */


body {
	unicode-bidi: embed;
	direction: rtl;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-left: 0;
	margin-right: 20px;
}

ul li:before {
	margin-left: 10px;
	margin-right: 0;
	text-align: center;
}

blockquote {
	padding-left: 0;
	padding-right: 30px;
	border-left-width: 0;
	border-right-width: 1px;
	margin: 0 30px 30px 0;
}

table caption {
	text-align: center;
}

body {
	text-align: right;
}

div {
	text-align: right;
}

nav > div > ul ul {
	left: auto;
	right: 0;
}

nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
	left: auto;
	right: 100%;
}

.header_top nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
}

.header_bot nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
}

nav > div > ul li.menu-item-dropdown-right {
	text-align: left;
}

nav > div > ul li.menu-item-dropdown-right * {
	text-align: left;
}

nav > div > ul li.menu-item-dropdown-right > ul {
	left: 0;
	right: auto;
}

nav > div > ul li.menu-item-dropdown-right > ul ul {
	margin-left: 20px;
	margin-right: 0;
	left: 100%;
	right: auto;
}

.header_bot nav > div > ul li.menu-item-dropdown-right > ul ul {
	margin-left: 20px;
	margin-right: 0;
}

nav > div > ul li.menu-item-dropdown-right > div.menu-item-mega-container {
	left: 0;
	right: auto;
}

nav > div > ul li.menu-item-dropdown-right > div.menu-item-mega-container ul {
	right: auto;
	left: auto;
}

nav > div > ul li:hover > ul:before {
	left: auto;
	right: 0;
}

nav > div > ul li:hover > div.menu-item-mega-container:before {
	left: auto;
	right: 0;
}

nav > div > ul li li:hover > ul {
	margin-left: 0;
	margin-right: 0px;
}

.header_top nav > div > ul li li:hover > ul {
	margin-left: 0;
	margin-right: 0px;
}

.header_bot nav > div > ul li li:hover > ul {
	margin-left: 0;
	margin-right: 0px;
}

nav > div > ul li li:hover > ul:before {
	left: auto;
	right: -1px;
}

.header_top nav > div > ul li li:hover > ul:before {
	left: auto;
	right: -1px;
}

.header_bot nav > div > ul li li:hover > ul:before {
	left: auto;
	right: -1px;
}

nav > div > ul li.menu-item-dropdown-right li:hover > ul {
	margin-left: 0px;
	margin-right: 0;
}

.header_bot nav > div > ul li.menu-item-dropdown-right li:hover > ul {
	margin-left: 0px;
	margin-right: 0;
}

nav > div > ul li.menu-item-dropdown-right li:hover > ul:before {
	left: -1px;
	right: auto;
}

.header_bot nav > div > ul li.menu-item-dropdown-right li:hover > ul:before {
	right: auto;
	left: -1px;
}

nav > div > ul .nav_title[class^="cmsmasters-icon-"]:before,
nav > div > ul .nav_title[class*=" cmsmasters-icon-"]:before {
	margin-left: 10px;
	margin-right: 0;
}

nav > div > ul > li {
	float: right;
	border-left-width: 1px;
	border-left-style: solid;
}

nav > div > ul > li:last-child {
	border-left-width: 0;
	border-left-style: solid;
}

nav > div > ul li.menu-item-mega ul {
	left: auto;
	right: auto;
}

nav > div > ul div.menu-item-mega-container {
	left: auto;
	right: 0;
}

nav > div > ul div.menu-item-mega-container > ul > li {
	border-right-width: 0px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
}

nav > div > ul div.menu-item-mega-container > ul > li:last-child {
	border-left-width: 0;
	border-left-style: solid;
}

.one_first,
.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.one_sixth {
	float: right;
}

.one_first {
	float: none;
}

.cmsmasters_row .cmsmasters_row_overlay {
	left: auto;
	right: 0;
}

.bottom_inner aside {
	float: right;
}

.preloader {
	text-align: center;
}

.preloader .full-width {
	left: auto;
	right: 0;
}

.preloader.highImg .full-width {
	left: auto;
	right: auto;
}

.resizable_block .full-width {
	left: auto;
	right: 0;
}

.cmsmasters_img_wrap .img_placeholder {
	left: auto;
	right: 0;
}

.cmsmasters_img_wrap .img_placeholder:before {
	left: 0;
	right: 0;
}

.cmsmasters_img_rollover_wrap .img_placeholder {
	left: auto;
	right: 0;
}

.cmsmasters_img_rollover_wrap .img_placeholder:before {
	left: 0;
	right: 0;
}

.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover {
	left: auto;
	right: 0;
	text-align: center;
}

.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_open_link,
.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_image_link {
	left: auto;
	right: 0;
}

.img_placeholder_small:before {
	left: 0;
	right: 0;
}

.cmsmasters_video_wrap > div {
	left: auto;
	right: 0;
}

.cmsmasters_video_wrap iframe {
	left: auto;
	right: 0;
}

.cmsmasters_video_wrap .wp-video-shortcode,
.cmsmasters_video_wrap .mejs-layer {
	left: auto;
	right: 0;
}

#middle .search_bar_wrap .search_field input,
#bottom .search_bar_wrap .search_field input {
	padding-left: 36px;
	padding-right: 20px;
}

.search_bar_wrap .search_button {
	left: 0;
	right: auto;
}

.search_bar_wrap .search_button button:before {
	left: 0;
	right: 0;
}

.social_wrap li {
	margin-left: 5px;
	margin-right: 0;
}

.social_wrap a:before {
	left: 0;
	right: 0;
}

.owl-carousel {
	direction: ltr;
}

.owl-carousel .owl-item > div {
	direction: rtl;
}

.owl-pagination {
	left: auto;
	right: 0;
	text-align: center;
}

.owl-buttons {
	text-align: center;
}

#slide_top {
	text-align: center;
	right: auto;
	left: 20px;
}

.cmsmasters_likes > a span,
.cmsmasters_comments > a span {
	margin-left: 0;
	margin-right: 6px;
}

.cmsmasters_views > span span {
	margin-left: 0;
	margin-right: 6px;
}

.button,
input[type=submit],
input[type=button],
button {
	text-align: center;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_sort_block {
	float: left;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but {
	margin-left: 0;
	margin-right: 5px;
	padding-left: 32px;
	padding-right: 16px;
	float: right;
	text-align: right;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but:before {
	left: 16px;
	right: auto;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_filter_list {
	padding-left: 20px;
	padding-right: 0;
	text-align: right;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li {
	margin-left: 5px;
	margin-right: 0;
	float: right;
}

.cmsmasters_wrap_more_items.cmsmasters_loading:before {
	left: 0;
	right: 0;
}

.cmsmasters_wrap_items_loader {
	text-align: center;
}

.cmsmasters_wrap_items_loader:before {
	left: 0;
	right: 0;
}

.cmsmasters_wrap_pagination {
	text-align: center;
}

.cmsmasters_wrap_pagination ul:before {
	left: 0;
	right: 0;
}

.cmsmasters_wrap_pagination ul li {
	margin-left: -1px;
	margin-right: 0;
}

.post_nav > div.cmsmasters_prev_post {
	padding-left: 10px;
	padding-right: 0;
	float: right;
	text-align: right;
}

.post_nav > div.cmsmasters_prev_post .cmsmasters_img_wrap {
	margin-left: 20px;
	margin-right: 0;
	float: right;
}

.post_nav > div.cmsmasters_prev_post * {
	text-align: right;
}

.post_nav > div.cmsmasters_next_post {
	padding-left: 0;
	padding-right: 10px;
	float: left;
}

.post_nav > div.cmsmasters_next_post .cmsmasters_img_wrap {
	margin-left: 0;
	margin-right: 20px;
	float: left;
}

.post_nav > div.cmsmasters_next_post * {
	text-align: left;
}

.share_posts a {
	margin-left: 8px;
	margin-right: 0;
}

.about_author .about_author_avatar {
	margin-left: 38px;
	margin-right: 0;
	float: right;
}

.cmsmasters_single_slider .cmsmasters_single_slider_title {
	padding-left: 110px;
	padding-right: 0;
}

.cmsmasters_single_slider .owl-buttons {
	right: auto;
	left: 0;
}

.cmsmasters_pings_list .comment-body span {
	margin-left: 0;
	margin-right: 20px;
	float: left;
}

.cmsmasters_post_category .cmsmasters_cat_color {
	margin-left: 1px;
	margin-right: 0;
	float: right;
}

.commentlist .children {
	padding-left: 0;
	padding-right: 70px;
}

.cmsmasters_comment_item .cmsmasters_comment_item_avatar {
	margin-left: 18px;
	margin-right: 0;
	float: right;
}

.cmsmasters_comment_item .cmsmasters_comment_item_cont_info > * {
	padding-left: 24px;
	padding-right: 0;
}

.comment-respond .comment-reply-title small {
	float: left;
}

.comment-respond form label span {
	margin-right: 2px;
}

.comment-respond form .comment-form-author,
.comment-respond form .comment-form-email {
	float: right;
}

.cmsmasters_post_default .cmsmasters_post_info > span:before,
.cmsmasters_post_masonry .cmsmasters_post_footer > span:before,
.cmsmasters_post_timeline .cmsmasters_post_footer > span:before,
.cmsmasters_open_post .cmsmasters_post_cont_info_meta > span:before,
.cmsmasters_project_grid .cmsmasters_project_footer > span:before,
.cmsmasters_project_puzzle .cmsmasters_project_meta > span:before,
.cmsmasters_comment_item .cmsmasters_comment_item_cont_info > *:before,
.cmsmasters_slider_project .cmsmasters_slider_project_meta > span:before,
.cmsmasters_slider_post .cmsmasters_slider_post_footer > span:before,
.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > ul > li a:before,
.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li a:before,
.cmsmasters_archive_type .cmsmasters_archive_item_info > span:before,
.widget_pages ul li:before,
.widget_categories ul li:before,
.widget_archive ul li:before,
.widget_meta ul li:before,
.widget_recent_comments ul li:before,
.widget_recent_entries ul li:before,
.widget_nav_menu li:before,
.widget_custom_popular_projects_entries .cmsmasters_slider_project_footer > span:before,
.widget_custom_latest_projects_entries .cmsmasters_slider_project_footer > span:before {
	left: 10px;
	right: auto;
}

.header_top .header_top_but > span {
	left: 0;
	right: 0;
}

.header_top .header_top_right {
	float: left;
}

.header_top .social_wrap li {
	margin-left: 12px;
	margin-right: 0;
}

.header_top .responsive_top_nav:before {
	left: 0;
	right: 0;
}

.header_top .header_top_left {
	padding-left: 20px;
	padding-right: 0;
}

.header_top .meta_wrap > * {
	margin-left: 10px;
	margin-right: 0;
}

.header_top .meta_wrap > *[class^="cmsmasters-icon-"]:before,
.header_top .meta_wrap > *[class*=" cmsmasters-icon-"]:before,
.header_top .meta_wrap > *[class^="cmsmasters_theme_icon_"]:before,
.header_top .meta_wrap > *[class*=" cmsmasters_theme_icon_"]:before {
	margin-left: 0.5em;
	margin-right: 0;
}

.top_line_nav > li {
	border-left-width: 1px;
	border-right-width: 0;
}

.top_line_nav > li:last-child {
	border-left-width: 0;
	border-left-style: solid;
}

.header_mid .logo_wrap {
	float: right;
}

.enable_header_centered .header_mid .logo_wrap {
	float: none;
}

.header_mid .logo_wrap .title_text {
	padding-left: 0;
	padding-right: 3px;
}

.header_mid .logo_wrap .logo img {
	left: auto;
	right: 0;
}

.enable_header_centered .header_mid .logo_wrap .logo img {
	left: 0;
	right: 0;
}

.header_mid .resp_mid_nav_wrap {
	margin-left: 0;
	margin-right: 20px;
	float: left;
}

.header_mid .resp_mid_nav_wrap .resp_mid_nav:before {
	left: 0;
	right: 0;
}

.header_mid .resp_mid_nav_wrap .resp_mid_nav.active:before {
	content: '\e802'; /* Check this rule! */
}

.header_mid .mid_search_but_wrap {
	margin-left: 0;
	margin-right: 5px;
	float: left;
}

.header_mid .mid_search_but_wrap .mid_search_but:before {
	left: 0;
	right: 0;
}

.enable_header_centered .header_mid .social_wrap {
	float: right;
}

.header_mid .social_wrap .social_wrap_inner {
	text-align: left;
}

.header_mid .social_wrap li {
	margin-left: 7px;
	margin-right: 0;
}

.enable_header_centered .header_mid .slogan_wrap {
	float: left;
}

.header_mid .slogan_wrap .slogan_wrap_inner {
	padding-left: 0;
	padding-right: 20px;
	text-align: left;
}

.header_mid .slogan_wrap .slogan_wrap_text > * {
	margin-left: 10px;
	margin-right: 0;
}

.header_mid .slogan_wrap .slogan_wrap_text > *[class^="cmsmasters-icon-"]:before,
.header_mid .slogan_wrap .slogan_wrap_text > *[class*=" cmsmasters-icon-"]:before,
.header_mid .slogan_wrap .slogan_wrap_text > *[class^="cmsmasters_theme_icon_"]:before,
.header_mid .slogan_wrap .slogan_wrap_text > *[class*=" cmsmasters_theme_icon_"]:before {
	margin-left: 0.5em;
	margin-right: 0;
}

.header_mid .mid_nav_wrap {
	float: left;
}

.mid_nav > li {
	float: none;
	margin-left: 5px;
	margin-right: 0;
}

.mid_nav .nav_tag {
	margin-left: 0;
	margin-right: 5px;
}

.enable_header_centered .header_bot .header_bot_inner {
	text-align: center;
}

.header_bot .resp_bot_nav_wrap .resp_bot_nav:before {
	left: 0;
	right: 0;
}

.header_bot .bot_search_but_wrap {
	margin-left: 0;
	margin-right: 5px;
	float: left;
}

.header_bot .bot_search_but_wrap .bot_search_but:before {
	left: 0;
	right: 0;
}

.enable_header_right .header_bot .bot_search_but_wrap {
	margin-left: 5px;
	margin-right: 0;
	float: right;
}

.enable_header_centered .header_bot .bot_search_but_wrap {
	float: none;
}

.header_bot .bot_nav_wrap {
	float: right;
}

.enable_header_right .header_bot .bot_nav_wrap {
	float: left;
}

.enable_header_centered .header_bot .bot_nav_wrap {
	float: none;
}

.bot_nav > li {
	margin-left: 5px;
	margin-right: 0;
}

.bot_nav .nav_tag {
	margin-left: 0;
	margin-right: 5px;
}

.cmsmasters_header_search_form .cmsmasters_header_search_form_close {
	left: 50px;
	right: auto;
}

.cmsmasters_header_search_form .cmsmasters_header_search_form_close:before {
	left: 0;
	right: 0;
}

.cmsmasters_header_search_form .cmsmasters_header_search_form_field {
	left: 0;
	right: 0;
}

.cmsmasters_header_search_form input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
	padding-left: 50px;
	padding-right: 0;
}

.cmsmasters_header_search_form button {
	left: 0;
	right: auto;
}

.cmsmasters_header_search_form button:before {
	left: 0;
	right: 0;
}

.cmsmasters_breadcrumbs .breadcrumbs_sep:before {
	content: '\276E';
}

.cmsmasters_footer_default .footer_logo_wrap {
	text-align: center;
}

.cmsmasters_footer_default .footer_custom_html_wrap {
	text-align: center;
}

.cmsmasters_footer_default .footer_custom_html {
	text-align: center;
}

.cmsmasters_footer_default .footer_nav_wrap div {
	text-align: center;
}

.cmsmasters_footer_default .footer_nav > li:before {
	left: -2px;
	right: auto;
}

.cmsmasters_footer_default .social_wrap .social_wrap_inner {
	text-align: center;
}

.cmsmasters_footer_default .social_wrap li {
	margin-left: 30px;
	margin-right: 0;
}

.cmsmasters_footer_default .footer_copyright {
	text-align: center;
}

.cmsmasters_footer_small .footer_nav_wrap {
	float: left;
}

.cmsmasters_footer_small .footer_nav > li {
	margin-left: 26px;
	margin-right: 0;
}

.cmsmasters_footer_small .social_wrap {
	float: left;
}

.cmsmasters_footer_small .social_wrap li {
	margin-left: 5px;
	margin-right: 0;
}

.cmsmasters_footer_small .footer_custom_html_wrap {
	float: left;
}

.cmsmasters_footer_small .footer_copyright {
	padding-left: 20px;
	padding-right: 0;
}

.blog.columns .post {
	float: right;
}

.blog.timeline:before {
	left: 0;
	right: 0;
}

.blog.timeline .post {
	float: right;
}

.blog.timeline .post:before {
	left: 0;
	right: 0;
}

.blog .owl-pagination {
	left: auto;
	right: 18px;
}

.cmsmasters_post_default .cmsmasters_post_info > * {
	padding-left: 24px;
	padding-right: 0;
}

.cmsmasters_post_default.has-post-thumbnail:not(.format-video) .cmsmasters_post_category {
	left: -5px;
	right: auto;
}

.cmsmasters_post_default.has-post-thumbnail:not(.format-video) .cmsmasters_post_category .cmsmasters_cat_color {
	text-align: center;
	float: left;
}

.cmsmasters_post_default.has-post-thumbnail .cmsmasters_post_img_wrap {
	float: right;
}

.cmsmasters_post_default.has-post-thumbnail .cmsmasters_post_img_wrap + .cmsmasters_post_cont {
	padding-left: 0;
	padding-right: 40px;
}

.cmsmasters_post_default.sticky .cmsmasters_post_cont_wrap:before {
	content: '\ead1'; /* Check this rule! */
	left: 20px;
	right: auto;
}

.blog.cmsmasters_with_featured .cmsmasters_post_default:first-child .cmsmasters_post_img_wrap {
	float: none;
}

.cmsmasters_post_masonry .cmsmasters_post_footer > * {
	padding-left: 24px;
	padding-right: 0;
}

.cmsmasters_post_masonry.has-post-thumbnail:not(.format-video) .cmsmasters_post_category {
	left: -5px;
	right: auto;
}

.cmsmasters_post_masonry.has-post-thumbnail:not(.format-video) .cmsmasters_post_category .cmsmasters_cat_color {
	text-align: center;
	float: left;
}

.cmsmasters_post_timeline .cmsmasters_post_footer > * {
	padding-left: 24px;
	padding-right: 0;
}

.cmsmasters_post_timeline.has-post-thumbnail:not(.format-video) .cmsmasters_post_category {
	left: -5px;
	right: auto;
}

.cmsmasters_post_timeline.has-post-thumbnail:not(.format-video) .cmsmasters_post_category .cmsmasters_cat_color {
	text-align: center;
	float: left;
}

.cmsmasters_open_post .cmsmasters_post_cont_info_top .cmsmasters_post_category {
	margin-left: 20px;
	margin-right: 0;
}

.cmsmasters_open_post .cmsmasters_post_cont_info_top .cmsmasters_post_cont_info_meta {
	float: left;
}

.cmsmasters_open_post .cmsmasters_post_cont_info_top .cmsmasters_post_cont_info_meta > * {
	padding-left: 24px;
	padding-right: 0;
}
.cmsmasters_open_post .cmsmasters_post_cont_info_bottom .cmsmasters_post_cont_about_author {
	padding-left: 20px;
	padding-right: 0;
	float: right;
}

.cmsmasters_open_post .cmsmasters_post_cont_info_bottom .cmsmasters_post_author_avatar {
	margin-left: 15px;
	margin-right: 0;
	float: right;
}

.cmsmasters_open_post .cmsmasters_post_cont_info_bottom .share_posts {
	float: left;
}

.cmsmasters_open_post .cmsmasters_post_footer .cmsmasters_post_tags > a {
	margin-left: 5px;
	margin-right: 0;
	text-align: center;
	float: right;
}

.portfolio .cmsmasters_project_grid,
.portfolio .cmsmasters_project_puzzle {
	float: right;
}

.portfolio.small_gap .project .project_outer {
	margin-left: 1px;
	margin-right: 0;
}

.cmsmasters_project_grid .project_outer_image_wrap.with_rollover .cmsmasters_img_rollover {
	left: auto;
	right: 0;
	text-align: center;
}

.cmsmasters_project_grid .project_outer_image_wrap.with_rollover .cmsmasters_img_rollover:before {
	left: auto;
	right: 0;
	-webkit-box-shadow: inset 0px -106px 92px -35px #000000;
	-moz-box-shadow: inset 0px -106px 92px -35px #000000;
	box-shadow: inset 0px -106px 92px -35px #000000;
}

.cmsmasters_project_grid .project_outer_image_wrap_meta_bottom {
	left: auto;
	right: 0;
}

.cmsmasters_project_grid .cmsmasters_project_category a {
	margin-left: 2px;
	margin-right: 0;
	float: right;
}

.cmsmasters_project_grid .cmsmasters_project_footer > * {
	padding-left: 24px;
	padding-right: 0;
}

.cmsmasters_project_puzzle .project_outer.with_rollover .project_inner:before {
	left: 0;
	right: 0;
}

.cmsmasters_project_puzzle .project_inner {
	left: 0;
	right: 0;
	text-align: center;
}

.cmsmasters_project_puzzle .project_inner .project_inner_aligner {
	text-align: center;
}

.cmsmasters_project_puzzle .cmsmasters_project_meta {
	text-align: center;
}

.cmsmasters_project_puzzle .cmsmasters_project_meta > * {
	padding-left: 24px;
	padding-right: 0;
}

.cmsmasters_project_puzzle .cmsmasters_project_category {
	text-align: center;
}

.cmsmasters_project_puzzle .cmsmasters_project_category a {
	margin-left: 2px;
	margin-right: 0;
}

.cmsmasters_open_project .owl-pagination {
	left: 10px;
	right: auto;
}

.cmsmasters_open_project .cmsmasters_project_header {
	text-align: right;
}

.cmsmasters_open_project .project_content.with_sidebar {
	float: right;
}

.cmsmasters_open_project .project_sidebar {
	padding-left: 0;
	padding-right: 40px;
	float: left;
}

.cmsmasters_open_project .project_details_item_title,
.cmsmasters_open_project .project_features_item_title {
	float: right;
}

.cmsmasters_open_project .project_details_item_desc,
.cmsmasters_open_project .project_features_item_desc {
	padding-left: 0;
	padding-right: 15px;
	text-align: left;
}

.cmsmasters_posts_slider .owl-buttons {
	left: 0;
	right: auto;
}

.cmsmasters_posts_slider .cmsmasters_slider_post,
.cmsmasters_posts_slider .cmsmasters_slider_project {
	float: right;
}

.cmsmasters_slider_post .cmsmasters_slider_post_category {
	left: -5px;
	right: auto;
}

.cmsmasters_slider_post .cmsmasters_slider_post_category .cmsmasters_cat_color {
	text-align: center;
	float: left;
}

.cmsmasters_slider_post .cmsmasters_slider_post_footer > * {
	padding-left: 24px;
	padding-right: 0;
}

.cmsmasters_slider_project .cmsmasters_slider_project_inner_wrap {
	text-align: center;
	left: 0;
	right: 0;
}

.cmsmasters_slider_project .cmsmasters_slider_project_meta {
	text-align: center;
}

.cmsmasters_slider_project .cmsmasters_slider_project_meta > span {
	padding-left: 24px;
	padding-right: 0;
}

.cmsmasters_slider_project .cmsmasters_slider_project_cont_info .cmsmasters_slider_project_category {
	text-align: center;
}

.cmsmasters_slider_project .cmsmasters_slider_project_cont_info .cmsmasters_slider_project_category > a {
	float: none;
}

.cmsmasters_slider_project .cmsmasters_slider_project_header {
	text-align: center;
}

.cmsmasters_slider_project .cmsmasters_slider_project_content {
	text-align: center;
}

.cmsmasters_profile_horizontal .profile_outer {
	text-align: center;
}

.cmsmasters_profile_horizontal .cmsmasters_img_wrap {
	text-align: center;
}

.cmsmasters_profile_horizontal .cmsmasters_profile_subtitle {
	left: 0;
	right: auto;
}

.cmsmasters_profile_horizontal .cmsmasters_profile_subtitle:only-child {
	left: auto;
	right: auto;
}

.cmsmasters_profile_horizontal .profile_inner {
	text-align: center;
}

.cmsmasters_profile_horizontal .cmsmasters_profile_content {
	text-align: center;
}

.cmsmasters_profile_horizontal .profile_social_icons {
	text-align: center;
}

.cmsmasters_profile_horizontal .profile_social_icons_list li {
	margin-left: 12px;
	margin-right: 0;
}

.cmsmasters_profile_horizontal .profile_social_icons_list a:before {
	left: 0;
	right: 0;
}

.cmsmasters_profile_vertical .profile_image_wrap {
	padding-left: 40px;
	padding-right: 0;
}

.cmsmasters_profile_vertical .profile_image_wrap .cmsmasters_profile_subtitle {
	left: 40px;
	right: auto;
}

.cmsmasters_profile_vertical .cmsmasters_img_wrap {
	text-align: center;
}

.cmsmasters_profile_vertical .profile_social_icons_list li {
	margin-left: 12px;
	margin-right: 0;
}

.cmsmasters_profile_vertical .profile_social_icons_list a:before {
	left: 0;
	right: 0;
}

.cmsmasters_profile_vertical .profile_social_icons {
	padding-left: 0;
	padding-right: 20px;
	float: left;
}

.cmsmasters_open_profile .cmsmasters_profile_header {
	text-align: right;
}

.cmsmasters_open_profile .profile_content.with_sidebar {
	float: right;
}

.cmsmasters_open_profile .profile_sidebar {
	padding-left: 0;
	padding-right: 40px;
	float: left;
}

.cmsmasters_open_profile .profile_details_item_title,
.cmsmasters_open_profile .profile_features_item_title {
	float: right;
}

.cmsmasters_open_profile .profile_details_item_desc,
.cmsmasters_open_profile .profile_features_item_desc {
	padding-left: 0;
	padding-right: 15px;
	text-align: left;
}

.cmsmasters_open_profile .profile_social_icons_list li {
	margin-left: 8px;
	margin-right: 0;
}

.cmsmasters_divider.cmsmasters_divider_width_short.cmsmasters_divider_pos_center {
	left: auto;
	right: 40%;
}

.cmsmasters_divider.cmsmasters_divider_width_short.cmsmasters_divider_pos_right {
	left: auto;
	right: 80%;
}

.cmsmasters_divider.cmsmasters_divider_width_medium.cmsmasters_divider_pos_center {
	left: auto;
	right: 30%;
}

.cmsmasters_divider.cmsmasters_divider_width_medium.cmsmasters_divider_pos_right {
	left: auto;
	right: 60%;
}

.cmsmasters_heading_wrap .button {
	float: left;
}

.cmsmasters_heading_wrap.cmsmasters_heading_align_right .button {
	float: right;
}

.cmsmasters_heading_wrap.cmsmasters_heading_align_center .button {
	float: none;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_short .cmsmasters_heading_divider_left {
	margin-left: 0;
	margin-right: -10%;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_medium .cmsmasters_heading_divider_left {
	margin-left: 0;
	margin-right: -20%;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_long .cmsmasters_heading_divider_left {
	margin-left: 0;
	margin-right: -100%;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_longbottom .cmsmasters_heading_divider {
	left: 0;
	right: 0;
}

.cmsmasters_heading_wrap .cmsmasters_heading:before,
.cmsmasters_heading_wrap .cmsmasters_heading a:before {
	margin-left: 0.5em;
	margin-right: 0;
}

.cmsmasters_notice[class*=" cmsmasters-icon-"],
.cmsmasters_notice[class*=" cmsmasters_theme_icon_"] {
	padding-left: 28px;
	padding-right: 90px;
}

.cmsmasters_notice:before {
	left: auto;
	right: 28px;
}

.cmsmasters_notice .notice_close {
	left: -15px;
	right: auto;
}

.cmsmasters_notice .notice_close:before {
	left: 0;
	right: 0;
}

.cmsmasters_icon_list_items .cmsmasters_icon_list_item:before {
	left: auto;
	right: 50px;
}

.cmsmasters_icon_list_items .cmsmasters_icon_list_item .cmsmasters_icon_list_icon:after {
	left: auto;
	right: -1px;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_pos_right .cmsmasters_icon_list_item:before {
	left: 50px;
	right: auto;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_list {
	padding-right: 30px;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_list .cmsmasters_icon_list_item:before {
	left: auto;
	right: -32px;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block .cmsmasters_icon_list_item .cmsmasters_icon_list_icon {
	text-align: center;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_left .cmsmasters_icon_list_item_content {
	text-align: right;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_left .cmsmasters_icon_list_item_content .cmsmasters_icon_list_item_text {
	text-align: right;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_left .cmsmasters_icon_list_icon_wrap {
	padding-left: 30px;
	float: right;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_right .cmsmasters_icon_list_item_content {
	text-align: left;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_right .cmsmasters_icon_list_item_content .cmsmasters_icon_list_item_text {
	text-align: left;
}

.cmsmasters_icon_list_items.cmsmasters_icon_list_type_block.cmsmasters_icon_list_pos_right .cmsmasters_icon_list_icon_wrap {
	padding-right: 30px;
	float: left;
}

.cmsmasters_icon_box.cmsmasters_icon_top:before {
	left: auto;
	right: 50%;
}

.cmsmasters_icon_box.cmsmasters_icon_box_top:before {
	left: auto;
	right: 50%;
}

.cmsmasters_icon_box.cmsmasters_icon_box_left:before {
	left: auto;
	right: 0;
	text-align: center;
}

.cmsmasters_icon_box.cmsmasters_icon_box_left_top {
	padding-right: 60px;
}

.cmsmasters_icon_box.cmsmasters_icon_box_left_top:before {
	left: auto;
	right: 0;
	text-align: center;
}

.cmsmasters_icon_box.cmsmasters_icon_heading_left h1:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h2:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h3:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h4:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h5:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h6:before {
	margin-left: 15px;
	margin-right: 0;
}

.cmsmasters_toggles .cmsmasters_toggles_filter a {
	margin-left: 5px;
	margin-right: 0;
	float: right;
}

.cmsmasters_toggles .cmsmasters_toggle_title a {
	padding-left: 40px;
	padding-right: 20px;
}

.cmsmasters_toggles .cmsmasters_toggle_plus {
	left: 0;
	right: 0;
	text-align: center;
}

.cmsmasters_toggles .cmsmasters_toggle_plus:before {
	content: '\e951';
}

.cmsmasters_toggles.toggles_mode_toggle .cmsmasters_toggle_plus {
	left: 20px;
	right: auto;
}

.cmsmasters_toggles.toggles_mode_accordion .cmsmasters_toggle_plus {
	left: 20px;
	right: auto;
}

.cmsmasters_tabs .cmsmasters_tabs_list_item a[class^="cmsmasters-icon-"],
.cmsmasters_tabs .cmsmasters_tabs_list_item a[class^="cmsmasters_theme_icon_"] {
	padding-left: 20px;
	padding-right: 50px;
}

.cmsmasters_tabs .cmsmasters_tabs_list_item a:before {
	left: auto;
	right: 20px;
}

.cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list {
	text-align: center;
}

.cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list_item {
	margin-left: 14px;
	margin-right: 0;
}

.cmsmasters_tabs.tabs_mode_tour .cmsmasters_tab_inner {
	padding-left: 0;
	padding-right: 38px;
}

.cmsmasters_tabs.tabs_mode_tour.tabs_pos_right .cmsmasters_tabs_list {
	text-align: left;
}

.cmsmasters_tabs.tabs_mode_tour.tabs_pos_right .cmsmasters_tabs_list_item a[class^="cmsmasters-icon-"],
.cmsmasters_tabs.tabs_mode_tour.tabs_pos_right .cmsmasters_tabs_list_item a[class^="cmsmasters_theme_icon_"] {
	padding-left: 50px;
	padding-right: 20px;
}

.cmsmasters_tabs.tabs_mode_tour.tabs_pos_right .cmsmasters_tabs_list_item a:before {
	left: 20px;
	right: auto;
}

.cmsmasters_tabs.tabs_mode_tour.tabs_pos_right .cmsmasters_tab_inner {
	padding-left: 38px;
	padding-right: 0;
	text-align: left;
}

.cmsmasters_stats {
	text-align: center;
}

.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class^="cmsmasters-icon-"]:before,
.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class*=" cmsmasters-icon-"]:before,
.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class^="cmsmasters_theme_icon_"]:before,
.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class*=" cmsmasters_theme_icon_"]:before {
	left: auto;
	right: 15px;
}

.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title {
	left: auto;
	right: 15px;
}

.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap {
	left: 15px;
	right: auto;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner {
	text-align: center;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title_counter_wrap {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title {
	padding-left: 10px;
	padding-right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap {
	float: none;
	left: auto;
	right: 0;
	text-align: right;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap:before {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap {
	left: 0;
	right: auto;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner:before,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class^="cmsmasters-icon-"] .cmsmasters_stat_title,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class*=" cmsmasters-icon-"] .cmsmasters_stat_title,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class^="cmsmasters_theme_icon_"] .cmsmasters_stat_title,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class*=" cmsmasters_theme_icon_"] .cmsmasters_stat_title {
	left: auto;
	right: 30px;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap {
	float: none;
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner {
	left: auto;
	right: 3px;
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap {
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat_title {
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat_subtitle {
	text-align: center;
}

.cmsmasters_counters {
	text-align: center;
}

.cmsmasters_counters .cmsmasters_counter_wrap {
	float: none;
	text-align: center;
}

.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner:before {
	left: auto;
	right: 0;
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter {
	text-align: center;
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner {
	text-align: center;
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner:before {
	left: auto;
	right: 50%;
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter_subtitle {
	text-align: center;
}

.cmsmasters_counters.counters_type_horizontal .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner:before {
	left: auto;
	right: 0;
}

.cmsmasters_hover_slider .cmsmasters_hover_slider_items li {
	left: auto;
	right: 0;
}

.cmsmasters_hover_slider .cmsmasters_hover_slider_thumbs a:before {
	left: auto;
	right: 0;
}

.cmsmasters_gallery {
	margin-left: 0;
	margin-right: -10px;
}

.cmsmasters_gallery .cmsmasters_gallery_item {
	padding-left: 0;
	padding-right: 10px;
	float: right;
}

.cmsmasters_gallery .cmsmasters_gallery_item.cmsmasters_caption figcaption {
	text-align: center;
}

.cmsmasters_quotes_slider .owl-buttons > div > span {
	left: 0;
	right: -18px;
}

.cmsmasters_quotes_slider .owl-buttons > div.owl-prev {
	left: auto;
	right: -40px;
}

.cmsmasters_quotes_slider .owl-buttons > div.owl-prev span:before {
	content: '\e804';
}

.cmsmasters_quotes_slider .owl-buttons > div.owl-next {
	right: auto;
	left: -40px;
}

.cmsmasters_quotes_slider .owl-buttons > div.owl-next span:before {
	content: '\e803';
}

.cmsmasters_quotes_slider:hover .owl-buttons > div.owl-prev {
	left: auto;
	right: 0px;
}

.cmsmasters_quotes_slider:hover .owl-buttons > div.owl-next {
	right: auto;
	left: 0px;
}

.cmsmasters_quotes_slider .cmsmasters_quote_image {
	text-align: center;
}

.cmsmasters_quotes_slider .cmsmasters_quote_image.cmsmasters_quote_placeholder:before {
	content: '\0022';
	left: 0;
	right: -12px;
}

.cmsmasters_quotes_slider .cmsmasters_quote_title {
	text-align: center;
}

.cmsmasters_quotes_slider .cmsmasters_quote_subtitle_wrap {
	text-align: center;
}

.cmsmasters_quotes_slider .cmsmasters_quote_subtitle + .cmsmasters_quote_site:before {
	content: '\002D';
}

.cmsmasters_quotes_slider .cmsmasters_quote_content {
	text-align: center;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_vert:before {
	left: auto;
	right: 25%;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_vert:after {
	left: auto;
	right: 75%;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_vert span {
	left: auto;
	right: 50%;
}

.quote_three.cmsmasters_quotes_grid .cmsmasters_quotes_vert:before {
	left: auto;
	right: 33.33%;
}

.quote_three.cmsmasters_quotes_grid .cmsmasters_quotes_vert:after {
	left: auto;
	right: 66.66%;
}

.quote_two.cmsmasters_quotes_grid .cmsmasters_quotes_vert span {
	left: auto;
	right: 50%;
}

.cmsmasters_quotes_grid .cmsmasters_quote {
	float: right;
}

.quote_one.cmsmasters_quotes_grid .cmsmasters_quote {
	float: none;
}

.cmsmasters_quotes_grid .cmsmasters_quote_image {
	padding-left: 20px;
	padding-right: 0;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_image,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_image {
	text-align: center;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_info_wrap,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_info_wrap {
	text-align: center;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_subtitle_wrap,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_subtitle_wrap {
	text-align: center;
}

.cmsmasters_quotes_grid .cmsmasters_quote_subtitle + .cmsmasters_quote_site:before {
	content: '\002D';
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_content,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_content {
	text-align: center;
}

.cmsmasters_pricing_table .cmsmasters_pricing_item {
	float: right;
}

.pricing_one.cmsmasters_pricing_table .cmsmasters_pricing_item {
	float: none;
}

.cmsmasters_pricing_table .cmsmasters_price_wrap span {
	float: right;
}

.cmsmasters_pricing_table .cmsmasters_button {
	float: right;
}

.resizable_block .google_map {
	left: auto;
	right: 0;
}

.cmsmasters_img.cmsmasters_image_l {
	margin-left: 20px;
	float: right;
}

.cmsmasters_img.cmsmasters_image_r {
	margin-right: 20px;
	float: left;
}

.cmsmasters_img .cmsmasters_img_caption {
	text-align: center;
}

.wp-caption.alignleft {
	margin-left: 25px;
}

.wp-caption.alignright {
	margin-right: 25px;
}

.wp-caption .wp-caption-text {
	text-align: center;
}

.gallery .gallery-item {
	float: right;
}

.gallery.gallery-columns-1 .gallery-item {
	float: none;
}

.cmsmasters_sidebar aside {
	float: right;
}

.share_wrap {
	float: right;
	margin-left: 20px;
}

.share_wrap:last-child {
	margin-left: 0;
}

.social_vertical .share_wrap {
	float: none;
	margin-left: 0;
}

.cmsmasters_twitter_wrap .owl-buttons {
	left: 0;
	right: auto;
}

.cmsmasters_twitter_wrap .owl-buttons span:before {
	left: 0;
	right: 0;
}

.cmsmasters_twitter_wrap .twr_icon {
	left: auto;
	right: 0;
}

.cmsmasters_twitter_wrap .cmsmasters_twitter_item {
	padding-left: 80px;
	padding-right: 200px;
}

.cmsmasters_twitter_wrap .published {
	left: auto;
	right: 35px;
}

.cmsmasters_dropcap {
	margin-left: 33px;
	margin-right: 23px;
	float: right;
}

.cmsmasters_dropcap.type2 {
	margin-left: 25px;
	margin-right: 0;
	text-align: center;
}

.cmsmasters_clients_item {
	text-align: center;
}

.cmsmasters_clients_grid .cmsmasters_clients_item {
	float: right;
}

.cmsmasters_clients_grid.clients_one .cmsmasters_clients_item:last-child,
.cmsmasters_clients_grid.clients_one .cmsmasters_clients_item {
	float: none;
}

.widget_custom_advertisement_entries .adv_image_wrap .adv_widget_image {
	float: right;
}

.widget_pages ul ul,
.widget_categories ul ul,
.widget_archive ul ul,
.widget_meta ul ul,
.widget_recent_comments ul ul,
.widget_recent_entries ul ul {
	padding-left: 0;
	padding-right: 10px;
}

.widget_pages ul li,
.widget_categories ul li,
.widget_archive ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li {
	margin-left: 0;
	margin-right: 15px;
}

.widget_pages ul li:before,
.widget_categories ul li:before,
.widget_archive ul li:before,
.widget_meta ul li:before,
.widget_recent_comments ul li:before,
.widget_recent_entries ul li:before {
	left: auto;
	right: -15px;
}

#wp-calendar {
	text-align: center;
}

#wp-calendar caption {
	text-align: center;
}

#wp-calendar tfoot #prev {
	text-align: right;
}

#wp-calendar tfoot #next {
	text-align: left;
}

.widget_custom_contact_info_entries > span,
.widget_custom_contact_info_entries .adress_wrap {
	padding-left: 0;
	padding-right: 30px;
}

.widget_custom_contact_info_entries > span:before,
.widget_custom_contact_info_entries .adress_wrap:before {
	text-align: center;
	left: auto;
	right: 0;
}

.widget_nav_menu ul li:before {
	left: auto;
	right: 0;
}

.widget_nav_menu .menu > li {
	padding-left: 0;
	padding-right: 15px;
}

.widget_nav_menu .menu ul {
	padding-left: 0;
	padding-right: 22px;
}

.widget_custom_flickr_entries .flickr_badge_image {
	float: right;
}

.widget_custom_popular_projects_entries .widgettitle,
.widget_custom_latest_projects_entries .widgettitle {
	padding-left: 70px;
	padding-right: 20px;
}

.widget_custom_popular_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-controls,
.widget_custom_latest_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-controls {
	left: 20px;
	right: auto;
}

.widget_custom_popular_projects_entries .cmsmasters_slider_project_image_wrap .cmsmasters_img_rollover,
.widget_custom_latest_projects_entries .cmsmasters_slider_project_image_wrap .cmsmasters_img_rollover {
	left: auto;
	right: 0;
	text-align: center;
}

.widget_custom_popular_projects_entries .cmsmasters_slider_project_image_wrap .cmsmasters_img_rollover:before,
.widget_custom_latest_projects_entries .cmsmasters_slider_project_image_wrap .cmsmasters_img_rollover:before {
	left: auto;
	right: 0;
	-webkit-box-shadow: inset 0px -106px 92px -35px #000000;
	-moz-box-shadow: inset 0px -106px 92px -35px #000000;
	box-shadow: inset 0px -106px 92px -35px #000000;
}

.widget_custom_popular_projects_entries .cmsmasters_slider_project_image_meta_bottom,
.widget_custom_latest_projects_entries .cmsmasters_slider_project_image_meta_bottom {
	left: auto;
	right: 0;
}

.widget_custom_popular_projects_entries .cmsmasters_slider_project_category a,
.widget_custom_latest_projects_entries .cmsmasters_slider_project_category a {
	margin-left: 5px;
	margin-right: 0;
	float: right;
}

.widget_custom_popular_projects_entries .cmsmasters_slider_project_header,
.widget_custom_latest_projects_entries .cmsmasters_slider_project_header {
	text-align: right;
}

.widget_custom_popular_projects_entries .cmsmasters_slider_project_content,
.widget_custom_latest_projects_entries .cmsmasters_slider_project_content {
	text-align: right;
}

.widget_custom_popular_projects_entries .cmsmasters_slider_project_footer > *,
.widget_custom_latest_projects_entries .cmsmasters_slider_project_footer > * {
	padding-left: 24px;
	padding-right: 0;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item {
	margin-left: 5px;
	margin-right: 0;
	float: right;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_img {
	margin-left: 20px;
	margin-right: auto;
	left: auto;
	right: 0;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont {
	padding-left: 0;
	padding-right: 80px;
}

.widget_tag_cloud a {
	margin-left: 5px;
	margin-right: 0;
	float: right;
}

.widget_custom_twitter_entries .tweet_time {
	padding-left: 0;
	padding-right: 44px;
}

.widget_custom_twitter_entries .tweet_time:before {
	left: auto;
	right: 0;
}

.cmsmasters_archive_type .cmsmasters_archive_item_img_wrap {
	margin-left: 40px;
	margin-right: 0;
	float: right;
}

.cmsmasters_archive_type.has-post-thumbnail .cmsmasters_archive_item_type {
	left: -5px;
	right: auto;
}

.cmsmasters_archive_type .cmsmasters_archive_item_info > * {
	padding-left: 24px;
	padding-right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > ul > li a,
.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li a {
	padding-left: 0;
	padding-right: 15px;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > ul > li a:before,
.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li a:before {
	left: auto;
	right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li:before {
	left: auto;
	right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li {
	padding-left: 20px;
	float: right;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > ul li {
	margin-right: 20px;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > ul > li {
	margin-right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li {
	padding-left: 20px;
	float: right;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li > ul li {
	margin-right: 20px;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li > ul > li {
	margin-right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li {
	padding-left: 20px;
	float: right;
}

.error .error_title {
	text-align: right;
}

.error .error_subtitle {
	text-align: right;
}

.error .error_cont {
	text-align: right;
}

.error .error_cont .search_bar_wrap {
	margin-left: -1px;
	margin-right: 0;
	float: right;
}

.error .error_cont .error_button_wrap {
	float: right;
}

.cmsmasters_attach_img .cmsmasters_attach_img_edit {
	float: left;
}

.wpcf7-list-item-label,
body .cmsmasters-form-builder .check_parent input[type="checkbox"] + label,
body .cmsmasters-form-builder .check_parent input[type="radio"] + label {
	padding-left: 0;
	padding-right: 25px;
	float: right;
}

.cmsmasters-form-builder .check_parent input[type="checkbox"],
.cmsmasters-form-builder .check_parent input[type="radio"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] {
	float: right;
	left: auto;
	right: 0;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:before,
.cmsmasters-form-builder .check_parent input[type="checkbox"] + label:before,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:before,
.cmsmasters-form-builder .check_parent input[type="radio"] + label:before {
	left: auto;
	right: 1px;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:after,
.cmsmasters-form-builder .check_parent input[type="checkbox"] + label:after,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:after,
.cmsmasters-form-builder .check_parent input[type="radio"] + label:after {
	left: auto;
	right: 5px;
}


html.csstransitions nav > div > ul ul ul {
	-webkit-transition: opacity .3s ease-in-out .1s, margin-right .3s ease-in-out .1s, margin-left .3s ease-in-out .1s;
	-moz-transition: opacity .3s ease-in-out .1s, margin-right .3s ease-in-out .1s, margin-left .3s ease-in-out .1s;
	-ms-transition: opacity .3s ease-in-out .1s, margin-right .3s ease-in-out .1s, margin-left .3s ease-in-out .1s;
	-o-transition: opacity .3s ease-in-out .1s, margin-right .3s ease-in-out .1s, margin-left .3s ease-in-out .1s;
	transition: opacity .3s ease-in-out .1s, margin-right .3s ease-in-out .1s, margin-left .3s ease-in-out .1s;
}

html.csstransitions .cmsmasters_hover_slider_thumbs > li img {
	-webkit-transition: opacity .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	-moz-transition: opacity .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	-ms-transition: opacity .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	-o-transition: opacity .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	transition: opacity .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
}

@-webkit-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-moz-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-ms-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-o-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-webkit-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}

@-moz-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}

@-ms-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}

@-o-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}
@keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}


@media only screen and (min-width: 1025px) {
	.mid_nav ul a > span:before,
	.bot_nav ul a > span:before {
		left: auto;
		right: 0;
	}
	
	.header_mid .slogan_wrap .slogan_wrap_text {
		text-align: left;
	}
}

@media only screen and (max-width: 1024px) {
	#header nav div,
	#header nav ul,
	#header nav li,
	#header nav a,
	#header nav span {
		float: none;
		left: auto;
		right: auto;
		text-align: right;
	}

	.cmsmasters_121414 .cmsmasters_column.one_half,
	.cmsmasters_141412 .cmsmasters_column.one_half {
		float: none;
	}

	.sidebar_layout_141412 > aside:first-child + aside + aside,
	.sidebar_layout_141412 > div.cl + aside + aside + aside,
	.sidebar_layout_141412 > div.cmsmasters_widget_divider + aside + aside + aside {
		float: none;
	}

	.sidebar_layout_121414 > aside:first-child,
	.sidebar_layout_121414 > div.cl + aside,
	.sidebar_layout_121414 > div.cmsmasters_widget_divider + aside {
		float: none;
	}

	.header_top .header_top_right {
		float: none;
	}

	.header_top .social_wrap li {
		margin-left: 18px;
		margin-right: 0;
	}

	.header_top .social_wrap .social_wrap_inner {
		text-align: center;
	}

	.header_top .meta_wrap {
		text-align: center;
	}

	#header .top_line_nav .nav_item_wrap {
		text-align: center;
	}

	#header .header_mid .mid_nav_wrap {
		float: none;
	}

	#header .header_bot .resp_bot_nav_wrap .resp_bot_nav_outer {
		text-align: center;
	}

	#header .header_bot .bot_nav_wrap {
		float: none;
	}

	#header .header_bot .bot_search_but_wrap {
		text-align: center;
	}

	#header .navigation a {
		padding-left: 20px;
		padding-right: 30px;
	}

	#header .navigation li li > a {
		padding-left: 20px;
		padding-right: 50px;
	}

	#header .navigation li li li > a {
		padding-left: 20px;
		padding-right: 70px;
	}

	#header .navigation .nav_tag {
		margin-left: 0;
		margin-right: 10px;
	}

	#header .navigation .cmsmasters_resp_nav_toggle {
		margin-left: 0;
		margin-right: 15px;
		float: left;
	}
}

@media only screen and (max-width: 950px) {
	.enable_header_centered #header .header_mid .header_mid_inner > div {
		float: none;
	}

	.enable_header_centered #header .header_mid .social_wrap_inner {
		text-align: center;
	}

	.enable_header_centered #header .header_mid .slogan_wrap_inner {
		text-align: center;
	}

	.cmsmasters_open_project .project_content.with_sidebar {
		float: none;
	}

	.cmsmasters_open_project .project_sidebar {
		float: none;
	}

	.cmsmasters_open_profile .profile_content.with_sidebar {
		float: none;
	}

	.cmsmasters_open_profile .profile_sidebar {
		float: none;
	}
}

@media only screen and (max-width: 768px) {
	.one_first,
	.one_half,
	.one_third,
	.two_third,
	.one_fourth,
	.one_fifth,
	.three_fourth,
	.cmsmasters_121414 .cmsmasters_column.one_half,
	.cmsmasters_141412 .cmsmasters_column.one_half,
	.cmsmasters_141214 .cmsmasters_column.one_fourth,
	.cmsmasters_141214 .cmsmasters_column.one_half {
		float: none;
	}

	.cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item {
		float: none;
	}

	.cmsmasters_clients_grid.clients_five .cmsmasters_clients_item,
	.cmsmasters_clients_grid.clients_four .cmsmasters_clients_item,
	.cmsmasters_clients_grid.clients_three .cmsmasters_clients_item,
	.cmsmasters_clients_grid.clients_two .cmsmasters_clients_item {
		float: none;
	}

	#header .header_mid .logo_wrap {
		float: none;
		text-align: center;
	}

	#header .header_mid .resp_mid_nav_wrap {
		float: none;
	}

	#header .header_mid .resp_mid_nav_wrap .resp_mid_nav_outer {
		text-align: center;
	}

	#header .header_mid .mid_search_but_wrap {
		text-align: center;
	}

	#header .header_mid .social_wrap .social_wrap_inner {
		text-align: center;
	}

	#header .header_mid .slogan_wrap .slogan_wrap_inner {
		text-align: center;
	}

	#header .header_mid .slogan_wrap .slogan_wrap_text {
		text-align: center;
	}

	#header .header_mid .mid_nav_wrap {
		float: none;
	}

	.cmsmasters_header_search_form .cmsmasters_header_search_form_field button:before {
		left: 0;
		right: auto;
	}

	.cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
		padding-left: 80px;
	}

	.cmsmasters_footer_default .footer_nav {
		text-align: center;
	}

	.cmsmasters_footer_default .footer_nav > li {
		float: none;
	}

	.cmsmasters_footer_small .footer_nav_wrap {
		float: none;
	}

	.cmsmasters_footer_small .footer_nav_wrap nav > div {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_nav {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_nav > li {
		float: none;
	}

	.cmsmasters_footer_small .social_wrap {
		float: none;
	}

	.cmsmasters_footer_small .social_wrap .social_wrap_inner {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_custom_html_wrap {
		float: none;
	}

	.cmsmasters_footer_small .footer_custom_html_wrap .footer_custom_html {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_copyright {
		text-align: center;
	}

	.blog.timeline .post .cmsmasters_post_info {
		left: auto;
		right: auto;
	}

	.blog.timeline .post .cmsmasters_post_category {
		text-align: center;
	}

	.blog.timeline .post .cmsmasters_post_category > a {
		float: none;
		margin-left: 1px;
		margin-right: 0;
	}

	.blog.timeline .post .cmsmasters_post_cont,
	.blog.timeline .post .cmsmasters_post_content {
		text-align: center;
	}

	.cmsmasters_twitter_wrap .cmsmasters_twitter_item {
		text-align: center;
	}

	.cmsmasters_twitter_wrap .cmsmasters_twitter_item .published {
		left: auto;
		right: auto;
	}
}

@media only screen and (max-width: 600px) {
	html.cmsmasters_html .cmsmasters_header_search_form .cmsmasters_header_search_form_close {
		left: 20px;
		right: auto;
	}

	.cmsmasters_post_default.has-post-thumbnail .cmsmasters_post_img_wrap {
		float: none;
	}

	.cmsmasters_profile_vertical .profile_image_wrap .cmsmasters_profile_subtitle {
		left: 0;
		right: auto;
	}

	.cmsmasters_profile_vertical .profile_social_icons {
		float: none;
	}

	.cmsmasters_profile_vertical .profile_social_icons_list,
	.cmsmasters_profile_vertical .profile_inner,
	.cmsmasters_profile_vertical .cmsmasters_profile_content {
		text-align: center;
	}
}

@media only screen and (max-width: 540px) {
	#page .gallery .gallery-item {
		float: none;
	}

	.cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item,
	.cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item,
	.cmsmasters_pricing_table.pricing_two .cmsmasters_pricing_item,
	.cmsmasters_pricing_table.pricing_one .cmsmasters_pricing_item {
		float: none;
	}

	#page .headline_outer .headline_inner .headline_text {
		text-align: center;
	}

	.cmsmasters_footer_default .social_wrap li {
		margin-left: 15px;
		margin-right: 0;
	}

	.cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
		padding-left: 75px;
	}

	#page .cmsmasters_breadcrumbs {
		float: none;
		text-align: center;
	}

	.cmsmasters_items_filter_wrap .cmsmasters_items_sort_block {
		float: none;
	}

	.cmsmasters_archive_type .cmsmasters_archive_item_img_wrap {
		float: none;
	}

	.cmsmasters_open_post .cmsmasters_post_cont_info_top .cmsmasters_post_cont_info_meta {
		float: right;
	}

	.cmsmasters_open_post .cmsmasters_post_cont_about_author,
	  .cmsmasters_open_post .share_posts {
		float: none;
	}

	.about_author .about_author_avatar {
		float: none;
		text-align: center;
	}

	.about_author .about_author_cont {
		text-align: center;
	}
}

@media only screen and (max-width: 400px) {
	.cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li {
		float: none;
	}
}

