.faq__answer {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease;
}

.faq__answer > div {
    overflow: hidden;
}

.faq__item.faq__item--active .faq__answer {
    grid-template-rows: 1fr;
}
